/* Classes */
.mb10 {
  margin-bottom: 10px;
}

.t {
  background: #25bda6 !important;
}

.hide {
  display: none;
}

.fa {
  margin-right: 5px;
}

.relative {
  position: relative;
}

.hover {
  cursor: pointer;
}

/* OPEN SANS */
@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans-Bold-webfont.eot");
  src: url("/fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/OpenSans-Bold-webfont.woff") format("woff"), url("/fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("/fonts/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: 700;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans-Regular-webfont.eot");
  src: url("/fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/OpenSans-Regular-webfont.woff") format("woff"), url("/fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("/fonts/OpenSans-Regular-webfont.svg#open_sansbold") format("svg");
  font-weight: 400;
}

/* SOURCE SANS PRO */
@font-face {
  font-family: 'Source Sans Pro';
  src: url("/fonts/SourceSansPro-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("/fonts/SourceSansPro-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("/fonts/SourceSansPro-Semibold.otf");
  font-weight: 600;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("/fonts/SourceSansPro-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("/fonts/SourceSansPro-ExtraLight.otf");
  font-weight: 200;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("/fonts/SourceSansPro-It.otf");
  font-weight: 400;
  font-style: italic;
}

/* UBUNTU */
@font-face {
  font-family: 'Ubuntu';
  src: url("/fonts/Ubuntu-B.ttf");
  font-weight: 700;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("/fonts/Ubuntu-M.ttf");
  font-weight: 600;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("/fonts/Ubuntu-R.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("/fonts/Ubuntu-RI.ttf");
  font-weight: 400;
  font-style: italic;
}

* {
  border: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans Pro', 'Open Sans', 'Trebuchet MS', sans-serif;
  font-size: 15px;
  background: #eee url(http://www.simplydevio.us/images/stripessmall2.png);
  color: #222;
  height: 100%;
  position: relative;
}

a, a:hover {
  text-decoration: none;
  color: #e03e56;
  cursor: pointer;
}

hr {
  border-bottom: 1px solid #ddd;
  margin: 10px 0;
}

/* New main section */
.wrapper {
  max-width: 1200px;
  padding: 50px 50px;
  box-sizing: border-box;
  margin: 0 auto 50px;
}

.mainContent {
  min-height: 450px;
  line-height: 1.5em;
}

/* OLD Left Section */
.title {
  font-family: 'Source Sans Pro', 'Open Sans', 'Trebuchet MS', sans-serif;
  font-size: 44px;
  margin-top: 17px;
  font-weight: 600;
  line-height: 50px;
  margin-bottom: 25px;
  letter-spacing: -1px;
}

#left {
  max-width: 1200px;
  margin: 0 auto;
  line-height: 1.5em;
}

#left p {
  margin-top: 10px;
}

#left .narrow {
  max-width: 700px;
}

#left .descript {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 30px;
}

#left .descript a {
  color: #333;
  font-weight: 600;
}

#left .descript a:hover {
  text-decoration: underline;
}

#left h2 {
  font-size: 16px;
  font-weight: bold;
}

.nonpaddingLeft #left {
  padding: 0 10% 0 10%;
  width: 80%;
}

.section {
  list-style: inside;
  padding: 50px 5% 50px 5%;
  color: #444;
  font-weight: 400;
  font-size: 1.05em;
}

.section a {
  color: #e03e56;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  margin: 30px auto 20px auto;
  color: #444;
  font-weight: 400;
  font-size: 1.05em;
}

.content h1 {
  font-family: 'Source Sans Pro', 'Open Sans', 'Trebuchet MS', sans-serif;
  font-size: 18px;
  color: #1d2742;
  margin-bottom: 5px;
}

.left50 {
  width: 48%;
  float: left;
}

.right50 {
  width: 48%;
  float: right;
}

.left60 {
  width: 62%;
  float: left;
}

.right40 {
  width: 34%;
  float: right;
}

/* Tabbing Menu */
.hidden {
  display: none !important;
}

.visible {
  display: block !important;
}

.tab_menu {
  width: 100.4%;
  margin-left: 2px;
  color: rgba(255, 255, 255, 0.8);
}

.tab_menu .selected, .tab_menu .tabby:hover {
  background: #A1334A !important;
  color: #fff;
}

.tab_menu .not_selected {
  background: #e03e56;
}

.ctab_menu {
  margin-left: 2px;
}

.ctab_menu .not_selected {
  background: #f58c3b;
}

.ctab_menu .selected, .ctab_menu .tabby:hover {
  background: #D17732 !important;
  color: #fff;
}

.tabby {
  font-family: 'Ubuntu';
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
  font-size: 13px;
  display: inline-block;
  padding: 12px 0;
  margin: 0 -2px;
  text-align: center;
  cursor: pointer;
  width: 20%;
}

.tab_menu.five .tabby {
  width: 74px;
}

.tab_page {
  background: #fff;
  padding: 30px 3% 30px 5%;
  box-shadow: 0 0 10px #ddd;
  width: 92%;
  min-height: 350px;
}

.tab_page p {
  margin-bottom: 10px;
}

.tab_page.cpage {
  height: 150px;
}

.tab_page.cpage textarea {
  border: 1px solid #ccc;
  display: block;
  width: 85%;
  max-width: 85%;
  padding: 15px 5%;
  height: 240px;
}

.small .tab_page.cpage {
  width: 310px;
  min-height: 300px;
}

.small .cpage textarea {
  width: 270px;
  height: 150px;
  max-height: 150px;
}

.formfail .tab_page {
  width: 310px;
}

.tabby.g:hover, .tabby.g.selected {
  background: #198574 !important;
}

#message {
  margin-top: 5px;
  font-size: 24px;
  color: #9BD13D;
  display: inline-block;
}

.mid {
  padding-bottom: 50px;
}

tbody {
  vertical-align: top;
}

form {
  font-size: 0.95em;
}

.fl {
  float: left;
}

.box_white p {
  margin-bottom: 20px;
}

.description p {
  margin-bottom: 30px;
}

/* Mapping Directory */
.map {
  font-family: 'Ubuntu';
  text-transform: uppercase;
  font-weight: 700;
  color: #aaa;
  font-size: 14px;
  margin-bottom: 20px;
}

.map a {
  font-family: 'Ubuntu';
  text-transform: uppercase;
  font-weight: 700;
  color: #e03e56;
  font-size: 14px;
}

/* Front Page Slightly */
ul.updates {
  padding: 10px 30px;
  background: #eee;
  margin: 20px 0px 0;
  list-style-type: none;
}

ul.updates li {
  margin: 15px 0;
}

.button_wrap {
  text-align: center;
  margin: 25px 0 10px;
}

.sbutton {
  font-family: 'Ubuntu';
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
  font-size: 13px;
  display: inline-block;
  padding: 10px 20px;
  transition: all .2s;
  color: #fff !important;
}

.sbutton:hover {
  background: #1d2742;
}

.box_white em {
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
}

/* Resource Wraps Index */
h1.p:hover {
  background: #A1334A;
}

p.description {
  margin: 0px 0 10px;
}

/* Script Page Wraps */
.sc_image {
  width: 130px;
  height: 130px;
  overflow: hidden;
  float: left;
  position: relative;
  background: #1d2742;
}

.sc_image:after {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  content: url("http://www.simplydevio.us/images/wsearch.png");
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -34px;
  margin-top: -34px;
  width: 50px;
  height: 50px;
  padding-left: 18px;
  padding-top: 18px;
  opacity: 0;
}

.sc_image:hover img {
  opacity: .6;
}

.sc_image:hover:after {
  opacity: 1;
}

.large_wrap {
  margin: 20px 0 40px;
  padding-top: 40px;
  border-top: 1px solid #ddd;
}

.large_wrap.preview {
  background: #eee;
  padding: 25px 30px;
}

.sc_info {
  min-height: 130px;
  margin-left: 155px;
}

.sc_info h1 {
  font-family: 'Source Sans Pro', 'Open Sans', 'Trebuchet MS', sans-serif;
  font-size: 24px;
  font-weight: 300;
  padding-top: 5px;
  margin-bottom: 15px;
  color: #e03e56;
}

.hy .sc_image:after {
  background: #f58c3b;
}

.hp .sc_image:after {
  background: #e03e56;
}

.hb .sc_image:after {
  background: #1d2742;
}

.hg .sc_image:after {
  background: #25bda6;
}

/* FOOTER */
#footer {
  padding: 20px 50px;
  color: rgba(255, 255, 255, 0.8);
  background: #1d2742;
  width: 100%;
  text-align: center;
  font-size: 12px;
  box-sizing: border-box;
  height: 50px;
}

#footer a {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
  text-decoration: none;
}

#footer_left {
  float: left;
  width: 25%;
}

/* Journal Form Page */
label {
  color: #1d2742;
  font-weight: 400;
}

#resource .hiddenrow p {
  max-width: 700px;
  font-size: 15px;
  line-height: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.colleft {
  width: 48%;
  float: left;
}

.colright {
  width: 48%;
  float: right;
}

form {
  vertical-align: middle;
  margin: 0 auto;
}

.white {
  max-width: 1000px;
  background: #fff url("http://simplydevio.us/images/white.png");
  outline: 1px solid #ddd;
  font-size: 16px;
  margin: 30px auto;
  padding: 50px;
}

.ccc {
  text-align: center;
  width: 27%;
  float: left;
}

.tutorial {
  max-width: 700px;
}

.tutorial span {
  font-family: 'Courier';
  background: #ddd;
}

.tutorial img {
  max-width: 100%;
  margin: 10px 0 50px;
  display: block;
}

.tutorial p {
  counter-increment: myIndex;
  padding-left: 40px;
  position: relative;
  min-height: 50px;
}

.tutorial p:before {
  content: counter(myIndex);
  font-size: 45px;
  font-family: 'Fjalla One';
  position: absolute;
  left: 0px;
  top: 14px;
}

.tutorial p b {
  color: #25bda6;
}

.tutorial p i {
  font-style: normal;
  font-weight: bold;
}

code {
  display: block;
  background: #ddd;
  padding: 5px 20px;
  width: 80%;
  margin: 10px 0 20px;
}

code b {
  color: #000 !important;
}

/* Description previews on Resource Page */
/* Journal Form Styling */
.add:before {
  content: '+ ';
}

.remove:before {
  content: '- ';
}

.add:before, .remove:before {
  color: #e03e56;
  font-weight: bold;
  font-size: 20px;
}

.add, .remove {
  cursor: pointer;
  display: inline-block;
}

.add:hover, .remove:hover {
  color: #e03e56;
}

/* Range Label */
.range_label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

/* Preview Page */
td {
  vertical-align: middle !important;
  position: relative;
}

td.w25 {
  width: 25%;
}

td.w35 {
  width: 35%;
}

td.w50 {
  width: 50%;
}

td.lg, td.full {
  width: 1000px;
}

.range_s input[type="range"] {
  width: 78% !important;
}

.note {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #ccc;
  padding: 10px 20px;
}

.cols {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
}

.cols.even {
  width: 45%;
  margin-right: 3%;
}

.cols.lft {
  margin-right: 3%;
  width: 44%;
}

.cols.rgt {
  min-height: 420px;
  width: 52%;
}

@media screen and (max-width: 1200px) {
  input[type=range] {
    width: 80% !important;
  }
  td.split_range [type=range] {
    width: 75% !important;
  }
}

@media screen and (max-width: 900px) {
  .cols {
    width: 100% !important;
    display: block;
  }
}

#profileDirectory {
  font-size: 16px;
}

.right_preview_box {
  z-index: 1;
  position: relative;
}

#preview_box {
  box-shadow: 0 0 10px #ddd;
  background: #fff;
  line-height: 1em;
  z-index: 1;
}

.box_heading {
  font-family: 'Ubuntu';
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
  font-size: 13px;
  background: #25bda6;
  padding: 13px 30px 13px;
  width: 60px;
  position: relative;
  z-index: 10;
}

.box_heading.max {
  width: initial;
}

.box_white {
  background: #fff;
  padding: 30px 30px 20px;
  box-shadow: 0 0 10px #ddd;
  margin-bottom: 40px;
}

.right_preview_box .notice, .large .notice {
  font-size: 14px;
  border-top: 1px dotted #000;
  position: absolute;
  top: 398px;
  padding-top: 5px;
  left: 0;
  text-align: center;
  width: 100%;
}

input {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background: #fff;
  color: #333;
  border: 1px solid #bbb;
  height: 28px;
  display: inline-block;
  width: 85%;
  margin: 2px 5px 2px 0;
  padding: 0 3%;
}

input[type=range] {
  width: 87%;
  border: none;
  vertical-align: middle;
}

input[type=checkbox] {
  width: 15px;
  height: 15px;
}

input:disabled {
  background: #ddd;
}

input.color {
  width: 55px !important;
  text-transform: uppercase;
  text-align: center;
  padding: 0 5px;
  position: relative;
}

td.split_range {
  width: 35%;
  margin-right: 5%;
}

td.split_range [type=range] {
  width: 75% !important;
}

td.split_range:last-of-type {
  margin-right: 0;
}

form .check {
  position: relative;
  top: 2px;
}

form .pixellong {
  width: 30px;
  text-align: center;
  padding: 0 5px;
}

form .desc {
  width: 300px;
}

form .infowrap {
  width: 1000px;
  margin: 40px auto 0;
}

form .pixel, form .percent {
  width: 25px;
  text-align: center;
  padding: 0 5px;
}

select {
  padding-left: 5px;
  height: 30px;
  border: 1px solid #bbb;
}

.password {
  padding: 5px 10px;
  margin-top: 10px;
}

.contact {
  margin-bottom: 30px;
  float: left;
  width: 45.5%;
  height: 125px;
  padding: 20px 1%;
}

/* NEW TOOL TIPS */
.tooltip {
  display: inline-block;
  position: absolute;
  color: #e03e56;
  z-index: 100;
}

.tooltip a {
  font-weight: 700;
  font-size: 20px;
}

.tooltip .tool_info {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: none;
  line-height: 18px;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  padding: 10px 15px;
  font-weight: 400;
}

.tooltip .tool_info:before {
  content: '';
  position: relative;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgba(0, 0, 0, 0.9);
  display: block;
  left: -25px;
  top: 0px;
}

.tooltip .tool_info span {
  display: block;
  margin-top: -20px;
}

.tooltip:hover .tool_info {
  display: block;
  position: absolute;
  width: 200px;
  left: 30px;
  top: -5px;
}

.navwrap {
  background: #1d2742;
  z-index: 1000;
  position: relative;
  display: block;
  height: 65px;
  padding: 0 5%;
  overflow: hidden;
}

.navwrap #nav {
  max-width: 1200px;
  margin: 0 auto;
  text-align: right;
}

.navwrap a {
  text-decoration: none !important;
}

.navwrap .simply {
  float: left;
  margin-top: 25px;
  color: #fff;
  font-size: 16px;
}

.navwrap .simply a {
  font-family: 'Ubuntu';
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  letter-spacing: 1px;
}

.navwrap .simply a:hover {
  color: #fff;
}

.navwrap .menu_icon {
  display: none;
  color: #fff;
}

.navwrap .menulinks {
  height: 100%;
  overflow: hidden;
}

.navwrap .menulinks a {
  font-family: 'Ubuntu';
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
  font-size: 13px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  background: #1d2742;
  display: inline-block;
  position: relative;
  padding: 25px 15px;
}

.navwrap .menulinks a:hover {
  background: #111726;
  color: #fff;
}

.pp {
  height: 10px;
}

.p {
  background: #e03e56;
}

.y {
  background: #f58c3b;
}

.b {
  background: #1d2742;
}

.g {
  background: #25bda6;
}

.w {
  color: #fff;
}

.c {
  text-align: center;
}

.l {
  text-align: left;
}

.r {
  text-align: right;
}

.wbox {
  background: url(http://simplydevio.us/images/white.png);
}

h1, h2, h3 {
  font-weight: 400;
}

.clearing {
  height: 20px;
  clear: both;
}

.cccc {
  width: 19%;
  float: left;
  min-width: 200px;
}

.cc {
  width: 45%;
  float: left;
  min-width: 300px;
}

@font-face {
  font-family: Lobster Two;
  src: url(fonts/LobsterTwo-Regular.ttf), url(fonts/LobsterTwo-Regular.eot);
}

@font-face {
  font-family: Sue Ellen Francisco;
  src: url(fonts/SueEllenFrancisco.ttf), url(fonts/SueEllenFrancisco.eot);
}

@media screen and (max-width: 800px) {
  .left50, .right50, .left60, .right40 {
    float: none;
    width: 100% !important;
  }
}

@media screen and (max-width: 700px) {
  .navwrap {
    overflow: visible;
  }
  .menuwrap {
    display: inline-block;
  }
  .menuwrap .menu_icon {
    font-family: 'Ubuntu';
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.8);
    font-size: 13px;
    display: block;
    top: -5px;
    display: inline-block;
    position: relative;
    padding: 25px 15px;
    cursor: pointer;
  }
  .menuwrap .menu_icon img {
    position: relative;
    top: 5px;
    margin-left: 5px;
  }
  .menuwrap .menulinks {
    width: 100%;
    display: none;
    text-align: left;
    position: absolute;
    top: 65px;
    right: 0;
    height: 350px;
  }
  .menuwrap .menulinks a {
    display: block;
    width: 100%;
    padding: 15px;
    text-align: center;
  }
}

@media screen and (min-width: 700px) {
  .menulinks {
    display: inline-block !important;
  }
}

@media screen and (max-width: 400px) {
  .sc_image {
    display: block;
    text-align: center;
    float: none;
  }
  .sc_image:after {
    width: 68px;
    height: 50px;
    padding-left: 0px;
    padding-top: 18px;
  }
  .sc_info {
    margin-left: 0;
    margin-top: 20px;
  }
}
