$background: #f8f8f8;

// General Layout

* {
    border: none;
    margin: 0;
    padding: 0;
    background: none;
}

body {
    @include source();
    background: $background;
    color: #222;
    height:100%;
    position:relative;
}

a, a:hover{
    text-decoration:none;
    color: $pink;
    cursor: pointer;
}

// Page layout

.wrapper {
    max-width: 1200px;
    padding: 50px 50px;
    box-sizing: border-box;
    margin: 0 auto;
}

.mainContent {
    min-height: 450px;
}

// Header

.header {
    .title {
        @include source(44px);
        margin-top: 17px;
        font-weight: 600;
        line-height: 50px;
        margin-bottom: 25px;
        letter-spacing: -1px;
    }

    .map {
        @include ubuntu(#aaa, 14px);
        margin-bottom: 20px;
        a {
            @include ubuntu($pink, 14px);
        }
    }

    .description {
        margin-bottom:30px;
        p {
            margin: 0px 0!important;
        }
    }
}

// Buttons

.button_wrap {
    text-align: center;
    margin: 25px 0 10px;
}

.sbutton {
    @include ubuntu;
    display: inline-block;
    padding: 10px 20px;
    transition: all .2s;
    color: #fff !important;
    &:hover {
        background: $blue;
    }
}

// Lists

ul {
    list-style-position: inside;
}


/* FOOTER */

#footer {
    padding: 20px 50px;
    color: $w80;
    background: $blue;
    width: 100%;
    text-align: center;
    font-size: 12px;
    box-sizing: border-box;
    height: 50px;
    a {
        color: $w80;
        font-weight: 600;
        text-decoration: none;
    }
}

#footer_left {
    float: left;
    width: 25%;
}

/* HEADER */

.navwrap {
    background: $blue;
    z-index: 1000;
    position: relative;
    display: block;
    height: 65px;
    padding: 0 5%;
    overflow:hidden;

    #nav {
        @include auto();
        text-align: right;
    }

    a {
        text-decoration: none !important;
    }

    .simply {
        float: left;
        margin-top: 25px;
        color: #fff;
        font-size: 16px;

    }

    .simply a {
        @include ubuntu($w80, 15px);
        @include trans(background);
        letter-spacing: 1px;
        &:hover {
            color: #fff;
        }

    }

    .menu_icon {
        display: none;
        color: #fff;
    }

    .menulinks{
        height:100%;
        overflow:hidden;
    }

    .menulinks a {
        @include ubuntu;
        @include trans(background);
        background: $blue;
        display: inline-block;
        position: relative;
        padding: 25px 15px;
        &:hover {
            background: #111726;
            color: #fff;
        }
    }
}

ul.versionLog {
    margin-top: 30px;
    font-size: 12px;
}

// Show again

html, body {
    display: block;
}
