@mixin radius($radius){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin trans($time: .2s){
    -webkit-transition:all $time;
    transition:all $time;
}

@mixin colors($color, $color_code, $color_code2){
    .title_widget.#{$color}{
        background:$color_code!important;
        input{
            background: $color_code;
        }
        .plus{
            background:$color_code2;
        }
    }
}



$width:    80px;
$blue:     #2D3645;
$blue_l:   #3F4856;
$red:      #FD8484;
$red2:     mix($blue, $red, 4%);//#FA7D7D;
$teal:     #6BE4C3;
$teal2:    mix($blue, $teal, 5%);//#5BDAB8;
$teal3:    #51D5B2;
$yellow:   #FDCE77;
$yellow2:  mix($blue, $yellow, 3%);//#FAC86C;
$orange:   #FDAA77;
$orange2:  mix($blue, $orange, 3%);
$purple:   #C9A2ED;
$purple2:  mix($blue, $purple, 3%);

*{
    background:0;
    padding:0;
    margin:0;
    border:none;
    font-family: 'Open Sans';
    text-decoration: none;
    font-size:14px;
    position:relative;
    z-index:1;
}

body{
    background:#f8f8f8;
    background-position:cover;

    a{
        color:#000;
    }
}

/* NAV */

.nav{
    position:fixed;
    width:100%;
    top:0;
    color:#eee;
    background:rgba(0,11,30,.9);
    padding:10px 30px;
    border-bottom: 1px solid rgba(255,255,255,.6);
}

.logo{
    position:absolute;
    top:20px;
    left:40px;
    opacity:.9;
    text-transform: uppercase;

    &:hover{
        opacity:1;
    }
    a{
        color:#fff;
        font-weight:700;
        font-size:14px;

    }
    .logo_img{
        position:relative;
        margin-right:10px;
        top:2px;
    }
}

h1{
    font-size:26px;
    font-weight:400;
    text-transform:lowercase;
    left:20px;
    color:#fff;
    font-family:'Playfair Display';

}

/* Sidebar */

.menu{
    background:#17233a;
    width: 100%;
    padding:30px 0 30px;
    position:fixed;
    top:0;
    left:0;
    z-index:99;
}

/* VIEW CONTAINER */

.view_container{
    top: 60px;
    left:20px;
}




#grid{

    z-index:0;

    li{
        word-break: break-word;
        white-space: normal;
        font-weight: 400;
        color:#444!important;
        background:#fff;
        padding:8px 15px 0 15px;

        /*box-shadow:1px 1px 2px #000;*/
        cursor:pointer;
        display:relative;
    }

    ul{
        position:relative;
        left:-15px;
        margin-bottom:50px;
        top:-5px;
    }
}

#grid .gw-w{
    z-index:10!important;
}


.button{
    padding:4px 0;
    position:absolute;
    text-align:center;
    bottom:0;
    left:0;
    width:270px;
    color:#eee;
    background:#444;
    cursor:pointer;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    font-weight:400;

    span{
        content:' Add Goal';
        font-size:15px;
        font-weight:300;
        text-transform: lowercase;
        color:#fff;
        width:10px;
        top:-2px;
        overflow: hidden;
        display:inline-block;
        transition:.2s;
    }

    &:hover{
        background:#222;
    }

    &:hover span{
        width:90px;
    }
}

.gridster .edit{
    position:absolute;
    top:5px;
    right:2px;
    display:none;
    height:12px;
    width:12px;
    background:url(../images/small_edit.png) no-repeat;
    opacity:.2;

    &:hover{
        opacity:.5;
    }
}

.gridster li:hover .edit{
    display:block;
}

.color_tools{
    position:relative;
    top:-56px;
    left:-15px;
    background: #444;
    z-index:99;
    text-align:center;
    display:inline-block;
    @include radius(5px);
    padding: 10px 8px 6px;

    &:before{
        content:'';
        width:0;
        height:0;
        border-left:10px solid transparent;
        border-right:10px solid transparent;
        border-top:10px solid #444;
        position:absolute;
        left:10px;
        top:35px;
    }
    .square{
        height:15px;
        width:25px;
        display:inline-block;
        margin:0 3px;
        &:hover{
            outline:1px solid #fff;
        }
    }

    .pink{
        background: $red;
    }
    .yellow{
        background: $yellow;
    }
    .teal{
        background: $teal;
    }
    .orange{
        background: $orange;
    }
    .purple{
        background: $purple;
    }
}

#grid .tools{
    font-size:12px;
    color:#000;
    text-transform: lowercase;
    position:absolute;
    left:240px;
    top:18px;
    z-index:9999;
    width:250px;
}

.tools div{
    display:inline-block;
    background: $teal;
    color:#fff;
    font-weight:600;
    padding:8px 10px;
    position:relative;
}

.tools{

   .delete{
    background:$red;
    

        &:before{
            content:url(../images/delete.png);
            height:10px;
            width:10px;
            opacity:.5;
            margin-right:7px;
        }
    }

    .complete{
    
        &:before{
            content:url(../images/complete.png);
            height:10px;
            width:10px;
            opacity:.5;
            margin-right:7px;
        }
    }

    .star{
        background:$yellow;
        &:before{
            content:url(../images/exclamation.png);
            height:10px;
            width:6px;
            opacity:.5;
            margin-right:3px;
            margin-left:-4px;
        }
    }
}

.gridster .delete:hover, .gridster .complete:hover{
    opacity:1;
}




/* ------------- HEADER ----------- */

.header{
    width:230px;
}

#title{
    white-space:nowrap;
    position:relative;
    top:-5px;
    z-index:0;
}

#background{
    border-collapse: collapse;
    position:absolute;
    white-space:nowrap;
    top: 60px;
    left:20px;
    background:#f8f8f8;
    height:900px;
    width:100%;
    background:url(../images/background.png);
}

.title_wrap{
    display:inline-block;
    width:240px;
    margin:17px 20px 8px;
}

.title_widget{
    background: $teal!important;

    input{
        background: $teal;
        font-size:14px;
        color:#fff;
        width:158px;
        font-weight:700;
        padding:2px 2px;
        cursor:pointer;
        display:inline-block;
        vertical-align: top;
        position:absolute;
        top:11px;
        left:15px;
        z-index:10;
        
        &:hover{
            //background:$teal2;
        }

        &:focus{
            outline:none!important;
        }

        &::selection{
            background:rgba($blue, .1)!important;
        }

        &::-moz-selection{
            background:rgba($blue, .1)!important;
        }
    }
    .plus{
        background:$teal2;
        display:inline-block;
        font-size:20px;
        color:#fff;
        padding-left:15px;
        padding-top:11px;
        width:27px;
        height:36px;
        cursor:pointer;
        vertical-align: top;
        position:absolute;
        right:0;
        top:0px;
        z-index:5;

        &:hover{
            background: $teal3;
        }
    }
}

@include colors(pink, $red, $red2);
@include colors(yellow, $yellow, $yellow2);
@include colors(orange, $orange, $orange2);
@include colors(purple, $purple, $purple2);

.text{
    position:relative;
    top:5px;
    u{
        text-decoration:underline;
    }
}


/* Grid delete X button */

.ask_delete_grid{
    background:none;
    position:absolute;
    top:5px;
    right:8px;
    display:block;
    opacity:0;
    opacity:.2;
    font-size:11px;
    cursor: pointer;

    &:hover{
        opacity:.5;
    }
}


/* -------- GRID OVERLAY ----------- */

#overlay{
    position: absolute;
    top:0px;
    left:0;
    background: #000;
    opacity:.1;
    width: 100%;
    min-height:750px;
    height: 100%;
    z-index: 1;
    
}

#grid li.comp{
    background: rgba(0,0,0,.05);
    box-shadow:none;

    .text{
        color:#aaa;

        &.s{
            
        }
    }
}

.text.stars{
    font-weight:bold;
}

#grid li.starred{

}

.settings{
    background:url(../images/settings.png) no-repeat;
    opacity:.1;
    height:24px;
    width:24px;
    display:inline-block;
    vertical-align:middle;
    margin-right:15px;
    cursor:pointer;
    @include trans(.2s);
    &:hover{
        opacity:.5;
    }
    &.set_on{
        opacity:.8;
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
        transform: rotate(180deg);
    }
}

.tooltip{
    position:absolute;
    left: 40px;
    background: #444;
    color: #fff;
    top: -4px;
    z-index:20;
    width:0;
    text-align:center;
    
    transition: width .3s .1s;
    @include radius(5px);

    &.width{
        width:200px;
        @include trans(.3s);
        .del_title, .clear_button{
           opacity:1;
           visibility:visible;
           transition:opacity .2s .1s;
        }
        &:before{
            content:'';
            width:0;
            height:0;
            border-top:10px solid transparent;
            border-bottom:10px solid transparent;
            border-right:10px solid #444;
            position:absolute;
            left:-8px;
            top:10px;
        }
    }
    .del_title, .clear_button{
        display:inline-block;
        padding:9px 0;
        opacity:0;
        visibility:hidden;
        display:inline-block;
        transition:opacity .1s 0s;
        
        &:hover{
            
        }
    }
    .del_title{
        border-bottom-right-radius:5px;
        border-top-right-radius:5px;
        padding-right:3px;
        background:#666;
        width:100px;
        &:hover{
            background: $red;
        }
    }
    .clear_button{
        border-bottom-left-radius:5px;
        border-top-left-radius:5px;
        padding-left:3px;
        width:94px;
        &:hover{
            background: #555;
        }
    }

}

/* Progress Bar */

.progress{
    height:10px;
    width:200px;
    background:rgba(0,0,0,.05);
    margin:10px 0 0;
    display:inline-block;
    @include radius(10px);
}

.bar{
    background:$blue;
    opacity:0.1;
    height:100%;
    @include trans(.6s);
    width:0;
    @include radius(10px);
}

.task{
    color:#aaa;
    font-size:11px;
    position:absolute;
    top: 21px;
    right: 12px;
}

/* ADD GRID BUTTON */

.add_grid{
    font-size:20px;
    font-weight:400;
    font-weight:600;
    z-index:10;
    position:relative;
    top:2px;
    left:0px;
    display:inline-block;
    padding:2px 10px;
    background:$red;
    color:#fff;
    cursor:pointer;
    @include trans(.2s);
    @include radius(100%);
    span{
        background:#444;
        position:absolute;
        display:none;
        right:-103px;
        padding:10px 15px;
        font-weight:400;
        top:-3px;
        line-height:14px;
        @include radius(5px);
        &:after{
            content:'';
            width:0;
            height:0;
            border-top:10px solid transparent;
            border-bottom:10px solid transparent;
            border-right:10px solid #444;
            position:absolute;
            left:-8px;
            top:8px;
        }
    
    }
    &:hover{
        background:$red2;
        span{
            display:block;
        }
    }

}

.gridster .preview-holder {
    z-index: 1;
    position: absolute;
    border: none!important;
    background: #ccc!important;
    box-shadow:none!important;
}

/* Text editor */

#textarea{
    width:210px;
    height:100%;
    top:5px;
    z-index:99;
    left:0;
    position:relative;
    resize: none;
    outline:1px solid #ccc;
    overflow:auto;
    
    *::selection{
        background:$red2;
        color:#fff;
    }
}

#formatting-container {
    position: absolute;
    left: -32px;
    top:0px;

    .ql-format-button{
        display:block;
        width:32px;
        background: $blue_l;
        color:#fff;
        padding:6px 0;

        font-weight:600;
        text-align:center;

        &:hover{
            background: $blue;

        }

        &.ql-bold{
            font-weight:700;
        }
        &.ql-italic{
            font-style:italic;
        }
        &.ql-underline{
            text-decoration:underline;
        }
    }

}


.ql-image-tooltip{padding:10px;width:300px}.ql-image-tooltip:after{clear:both;content:"";display:table}.ql-image-tooltip a{border:1px solid #000;box-sizing:border-box;display:inline-block;float:left;padding:5px;text-align:center;width:50%}.ql-image-tooltip img{bottom:0;left:0;margin:auto;max-height:100%;max-width:100%;position:absolute;right:0;top:0}.ql-image-tooltip .input{box-sizing:border-box;width:100%}.ql-image-tooltip .preview{margin:10px 0;position:relative;border:1px dashed #000;height:200px}.ql-image-tooltip .preview span{display:inline-block;position:absolute;text-align:center;top:40%;width:100%}.ql-link-tooltip{padding:5px 10px}.ql-link-tooltip input.input{width:170px}.ql-link-tooltip a.done,.ql-link-tooltip input.input{display:none}.ql-link-tooltip.editing a.done,.ql-link-tooltip.editing input.input{display:inline-block}.ql-link-tooltip.editing a.change,.ql-link-tooltip.editing a.url{display:none}.ql-multi-cursor{position:absolute;left:0;top:0;z-index:1000}.ql-multi-cursor .cursor{margin-left:-1px;position:absolute}.ql-multi-cursor .cursor-flag{bottom:100%;position:absolute;white-space:nowrap}.ql-multi-cursor .cursor-name{display:inline-block;color:#fff;padding:2px 8px}.ql-multi-cursor .cursor-caret{height:100%;position:absolute;width:2px}.ql-multi-cursor .cursor.hidden .cursor-flag{display:none}.ql-multi-cursor .cursor.top .cursor-flag{bottom:auto;top:100%}.ql-multi-cursor .cursor.right .cursor-flag{right:-2px}.ql-paste-manager{left:-100000px;position:absolute;top:50%}.ql-toolbar{box-sizing:border-box}.ql-tooltip{background-color:#fff;border:1px solid #000;box-sizing:border-box;position:absolute;top:0;white-space:nowrap;z-index:2000}.ql-tooltip a{cursor:pointer;text-decoration:none}


.ql-editor{box-sizing:border-box;min-height:100%;outline:0;tab-size:4;white-space:pre-wrap}.ql-editor div{margin:0;padding:0}.ql-editor a{text-decoration:underline}.ql-editor b{font-weight:700}.ql-editor i{font-style:italic}.ql-editor s{text-decoration:line-through}.ql-editor u{text-decoration:underline}.ql-editor img{max-width:100%}.ql-editor blockquote,.ql-editor ol,.ql-editor ul{margin:0 0 0 2em;padding:0}.ql-editor ol{list-style-type:decimal}.ql-editor ul{list-style-type:disc}.ql-editor.ql-ie-10 br,.ql-editor.ql-ie-9 br{display:none}