/* CSS Document */


.page{
	width:100%;
	background: url('http://fc02.deviantart.net/fs71/f/2013/275/7/b/white_by_simplysilent-d6p0jt9.png');
}

#menu{width:1000px;
margin:auto;
padding-top:100px;
white-space:nowrap;}

a{
	text-decoration:none;
}

.ltri{
	width:0;
height:0;
border-left:236px solid transparent;
border-right:236px solid transparent;
margin:200px auto 50px;
border-bottom:410px solid #5e4948;
opacity:0;
-webkit-animation: mg .5s ease-out .3s forwards;
animation: mg .5s ease-out 0.3s forwards;}

@-webkit-keyframes ltri{
to {opacity:1;}}
@keyframes ltre{
to {opacity:1;}}

.m{
width:0;
height:0;
border-left:115px solid transparent;
border-right:115px solid transparent;
margin:0 auto 50px;
display:block;
position:relative;
}

.s{
width:0;
height:0;
border-left:55px solid transparent;
border-right:55px solid transparent;
margin:0 auto 50px;
display:block;
position:relative;}

.ltri a{position:relative;
	top:300px;
    left:-100px;
    font-size:34px;}
    

	
#mg, #my, #mp, #a, #b, #c, #d, #e, #f, #g, #h, #i, #k, #j, #k, #l{opacity:0;}

#mg{
top:-709px;
right:1000px;
-webkit-animation: mg 1s ease-out 0.4s forwards;
animation: mg 1s ease-out 0.4s forwards;}

@-webkit-keyframes mg{
to {right:239px; opacity:1;}}
@keyframes mg{
to {right:239px; opacity:1;}}

#my{
right:362px;
top:-1000px;
-webkit-animation: my 1s ease-out .5s forwards;
animation: my 1s ease-out .5s forwards;}

@-webkit-keyframes my{
to {top:-250px; opacity:1;}}
@keyframes my{
to {top:-250px; opacity:1;}}

#mp{
top:-2000px;
right:-160px;
-webkit-animation: mp 1s ease-out .2s forwards;
animation: mp 1s ease-out .2s forwards;}

@-webkit-keyframes mp{
to {top:-900px; opacity:1;}}
@keyframes mp{
to {top:-900px; opacity:1;}}

#a{
top:-1123px;
right:1000px;
-webkit-animation: a 1s ease-out .6s forwards;
animation: a 1s ease-out .6s forwards;}

@-webkit-keyframes a{
to {right:420px; opacity:1;}}
@keyframes a{
to {right:420px; opacity:1;}}

#b{
top:-3000px;
right:285px;
-webkit-animation: b 1s ease-out .5s forwards;
animation: b 1s ease-out .5s forwards;}

@-webkit-keyframes b{
to {top:-1406px; opacity:1;}}
@keyframes b{
to {top:-1406px; opacity:1;}}

#c{
top:-2000px;
right:119px;
-webkit-animation: c 1s ease-out .2s forwards;
animation: c 1s ease-out .2s forwards;}

@-webkit-keyframes c{
to {top:-1425px; opacity:1;}}
@keyframes c{
to {top:-1425px; opacity:1;}}

#d{
top:-2500px;
right:-97px;
-webkit-animation: d 1s ease-out .5s forwards;
animation: d 1s ease-out .5s forwards;}

@-webkit-keyframes d{
to {top:-1709px; opacity:1;}}
@keyframes d{
to {top:-1709px; opacity:1;}}

#e{
top:-2500px;
right:-345px;
-webkit-animation: e 1s ease-out .5s forwards;
animation: e 1s ease-out .5s forwards;}

@-webkit-keyframes e{
to {top:-1750px; opacity:1;}}
@keyframes e{
to {top:-1750px; opacity:1;}}

#f{
top:-1999px;
right:-1000px;
-webkit-animation: f 1s ease-out .6s forwards;
animation: f 1s ease-out .6s forwards;}

@-webkit-keyframes f{
to {right:-390px; opacity:1;}}
@keyframes f{
to {right:-390px; opacity:1;}}



#g{
top:-1911px;
right:1000px;
-webkit-animation: g 1s ease-out .2s forwards;
animation: g 1s ease-out .2s forwards;}

@-webkit-keyframes g{
to {right:236px; opacity:1;}}
@keyframes g{
to {right:203px; opacity:1;}}


#i{
top:-2243px;
right:-1000px;
-webkit-animation: i 1s ease-out .2s forwards;
animation: i 1s ease-out .2s forwards;}

@-webkit-keyframes i{
to {right:-225px; opacity:1;}}
@keyframes i{
to {right:-225px; opacity:1;}}

#j{
top:-1800px;
right:-285px;
-webkit-animation: h 1s ease-out .5s forwards;
animation: h 1s ease-out .5s forwards;}

@-webkit-keyframes h{
to {top:-2394px; opacity:1;}}
@keyframes h{
to {top:-2394px; opacity:1;}}


#k{
top:-2533px;
right:-1000px;
-webkit-animation: k 1s ease-out .5s forwards;
animation: k 1s ease-out .5s forwards;}

@-webkit-keyframes k{
to {right:-345px; opacity:1;}}
@keyframes k{
to {right:-345px; opacity:1;}}

#l{
top:-2576px;
right:-1000px;
-webkit-animation: l 1s ease-out .3s forwards;
animation: l 1s ease-out .3s forwards;}

@-webkit-keyframes l{
to {right:-345px; opacity:1;}}
@keyframes l{
to {right:-345px; opacity:1;}}


.tp, .ty, .bg, #j.tbs, #e.tys{
    -webkit-transition:all .2s;
}


.tp {border-top:200px solid #ff5176;}
.ty {border-top:200px solid #ffa53a;}
.bg {border-bottom:200px solid #9fce54;}

.tp:hover{border-top:200px solid #ffa53a;}
.ty:hover {border-top:200px solid #ff5176;}
.bg:hover {border-bottom:200px solid #5e4948;}

.tps {border-top:95px solid #ff5176;}
.tys {border-top:95px solid #ffa53a;}
.tgs {border-top:95px solid #9fce54;}
.tbs {border-top:95px solid #5e4948;}

#j.tbs:hover{border-top:95px solid #ffa53a;}
#e.tys:hover{border-top:95px solid #9fce54;}

.bps {border-bottom:95px solid #ff5176;}
.bys {border-bottom:95px solid #ffa53a;}
.bgs {border-bottom:95px solid #9fce54;}
.bbs {border-bottom:95px solid #5e4948;}

.tp a, .ty a{top:-190px; left:-30px;}


.m a{left:-70px; font-size:30px;}
.bg a{top:150px; left:-40px;
white-space:nowrap;}

.tps a, .tys a, .tgs a, .tbs a{top:-90px;left:-30px;}
.bps a, .bys a, .bgs a, .bbs a{top:70px;}

.s a{left:-25px;}

#j a{text-align:center;
font-size:22px;
left:-35px;
}

#e a{
    font-size:22px;
left:-31px;
}
	

#menu a{
	position:relative;
	color:#fff;
	font-family: 'Lobster Two', sans-serif;

	letter-spacing:-1px;
}

.p{background:#ff5176;}
.y{background:#ffa53a;}
.b{background:#5e4948;}
.g{background:#9fce54;}





