<nav id="nav">
	<div class="container">
		<div class="nav-logo">
			<a href="./" class="title">Inyoung Hong</a>
		</div>
		<div class="nav-right">
			<a id="nav_web" href="./#/webdev">Web Dev</a>
			<a id="nav_prog" href="./#/programming" class="light">Programming</a>
			<a id="nav_des" href="./#/design" >Design</a>
			<a id="nav_contact" href="./#/contact">Contact</a>
		</div>
	</div>
</nav>

<div ng-controller="MainController" ng-init="init(1)">

	<!-- <h2>Programming Projects</h2> -->

	<!-- Project template -->
	<div ng-include="'includes/work.html'"></div>

</div>