.editingBox .tab_page {
  height: 450px;
  overflow-y: scroll;
}

.daInside {
  max-height: 350px;
  overflow: hidden;
}

.color {
  padding-left: 38px !important;
}

.minicolors-theme-bootstrap .minicolors-swatch {
  top: 6px;
}
