.editingBox .tab_page {
  height: 500px;
  overflow-y: auto;
}

.editingBox, .editingSidebar, .editingPreview {
  height: 550px !important;
}

.daInside {
  margin-bottom: 25px !important;
  overflow: hidden;
}

.gr-box {
  padding: 25px 10px 0px;
  max-height: 375px;
  overflow: hidden;
}
