/* Style sheet with the new design for the Journal Skin Creator */
@import "../../../css/globals";

#tab1 {
    display: block;
}

h2.sub {
    font-weight: 400;
    text-transform: none;
}

.main_window{
    margin-left:400px;
    position:relative;
    padding: 40px;

    #preview_box {
        margin-bottom: 50px;
    }
}

.sidebar{
    box-sizing: border-box;
    width: 400px;
    position:fixed;
    top:66px;
    left:0;
    height:100%;
    overflow:auto;
    background: $pink_dark;
    .side_page{
        padding:20px;
        display:none;
        background: $pink;
    }


}

.block{
    font-family:'Open Sans';
    text-transform: uppercase;
    font-size: 13px;
    color: $w80;
    padding: 12px 20px;
    position:relative;
    cursor:pointer;
    font-weight:600;

    &:after{
        content:url(../../images/arrow-down.png);
        position:absolute;
        right:10px;
        top:6px;
        opacity:.3;
    }
    &:hover {
        background: $pink_dark;
        color: #fff;
    }
    &.selected {
        background: $pink_dark;
        &:after{
            content:url(../../images/arrow-up.png);
        }
    }
}

/* DA Styling */
.gr-box, .gr-body{
    position:relative;
    overflow:hidden;
}

#preview_box{
    line-height:1em;
}

#preview_box h2{
    display:block;
}
.text h1{
    font-weight:bold;
    font-size:18px;
    color:#414d4c;
    font-size:18pt;
    font-family:"Trebuchet MS";
    margin-bottom:15px;
}
