/* Style sheet with the new design for the Journal Skin Creator */
/* Classes */
.mt10 {
  margin-top: 10px;
}

.mt30 {
  margin-top: 30px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb0 {
  margin-bottom: 0px !important;
}

.mr10 {
  margin-right: 10px;
}

.t {
  background: #25bda6 !important;
}

.hide {
  display: none;
}

.fa {
  margin-right: 5px;
}

.relative {
  position: relative;
}

.hover {
  cursor: pointer;
}

#tab1 {
  display: block;
}

h2.sub {
  font-weight: 400;
  text-transform: none;
}

.main_window {
  margin-left: 400px;
  position: relative;
  padding: 40px;
}

.main_window #preview_box {
  margin-bottom: 50px;
}

.sidebar {
  box-sizing: border-box;
  width: 400px;
  position: fixed;
  top: 66px;
  left: 0;
  height: 100%;
  overflow: auto;
  background: #A1334A;
}

.sidebar .side_page {
  padding: 20px;
  display: none;
  background: #e03e56;
}

.block {
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  position: relative;
  cursor: pointer;
  font-weight: 600;
}

.block:after {
  content: url(../../images/arrow-down.png);
  position: absolute;
  right: 10px;
  top: 6px;
  opacity: .3;
}

.block:hover {
  background: #A1334A;
  color: #fff;
}

.block.selected {
  background: #A1334A;
}

.block.selected:after {
  content: url(../../images/arrow-up.png);
}

.gr-box, .gr-body {
  position: relative;
  overflow: hidden;
}
