<form class="editingSideBar sidebarPadding newForm" id="uploadForm" method="post" enctype="multipart/form-data" action="">

    <div class="chunk">
        <h2>Message
            <div class="tooltip">?<div class="tool_info"><span>Write a 1 or 2 line message. The word "visitor" will be replaced by the visitor's username.</span></div></div>
        </h2>
        <div class="input">
            <input type="text" ng-model="imageData.message1" ng-change="inputUpdate()" placeholder="Message Line 1">
            <input type="text" ng-model="imageData.message2" ng-change="inputUpdate()" placeholder="Message Line 2" class="mt10">
        </div>
    </div>

    <div class="chunk">
        <h2>Font
            <div class="tooltip">?<div class="tool_info"><span>Use one of the fonts here or upload your own with the upload option.</span></div></div>
        </h2>
        <div class="input">
            <select ng-model="imageData.font" ng-change="inputUpdate()" ng-options="item for item in fonts"></select>
            <label for="file" class="hover"><i class="fa fa-upload"></i> Upload a new font</label>
            <input ng-model="imageData.file" custom-on-change="submitUploadFont" type="file" name="file" class="hide" id="file">
        </div>
    </div>

    <div class="chunk">
        <h2>Font Color</h2>
        <div class="input">
            <input minicolors type="text" ng-model="imageData.color" ng-change="inputUpdate()" class="color" max="6">
        </div>
    </div>
    <div class="chunk">
        <h2>Background</h2>
        <div class="input">
            <input minicolors type="text" ng-model="imageData.background" ng-change="inputUpdate()" class="color" max="6">
            <label><input type="checkbox" ng-model="imageData.transparent" ng-change="inputUpdate()">
            Transparent Background</label>
        </div>
    </div>

    <div class="chunk">
        <h2>Font Size</h2>
        <div class="input">
            <input type="range" ng-model="imageData.fontSize" ng-change="inputUpdate()" min="8" max="50">
        </div>

        <h2>Line Spacing</h2>
        <div class="input">
            <input type="range" ng-model="imageData.lineSpacing" ng-change="inputUpdate()" min="0" max="30">
        </div>

        <h2>Padding X</h2>
        <div class="input">
            <input type="range" ng-model="imageData.paddingX" ng-change="inputUpdate()" min="0" max="200">
        </div>

        <h2>Padding Y</h2>
        <div class="input">
            <input type="range" ng-model="imageData.paddingY" ng-change="inputUpdate()" min="0" max="200">
        </div>
    </div>
</form>
