Need help using the codes below? Read this step-by-step <a href="http://www.simplydevio.us/resources/profile_tutorial.php" target="_blank">tutorial</a>.
<br><br>
<div class="codes">
    <div class="ctab_menu">
        <div id="ctab1" class="tabby" ng-click="changeCtab('tab1')">Widget</div>
        <div id="ctab2" class="tabby" ng-click="changeCtab('tab2')">HTML</div>
        <div id="ctab3" class="tabby" ng-click="changeCtab('tab3')">CSS</div>
    </div>
    <div id="cbox1" class="tab_page cpage" ng-show="tab === 'tab1'">
        <b>Widget Code</b>
        <p>Paste into the text box of your Featured Deviation Widget</p>
        <textarea id="widgetArea" class="textArea">These codes will appear once you purchase and type in the password.</textarea>
    </div>
    <div id="cbox2" class="tab_page cpage" ng-show="tab === 'tab2'">
        <b>HTML Code</b>
        <p>Paste into the text box of your journal in Sta.sh Writer</p>
        <textarea id="htmlArea" class="textArea">These codes will appear once you purchase and type in the password.</textarea>
    </div>
    <div id="cbox3" class="tab_page cpage" ng-show="tab === 'tab3'">
        <b>CSS Code</b>
        <p>Paste into the main Skin CSS section of your journal</p>
        <textarea id="cssArea" class="textArea">These codes will appear once you purchase and type in the password.</textarea>
    </div>
</div>
