<div id="popup">
    <div id="mask" ng-click="hidePopup()"></div>
    <div id="popupBox">

        <!-- Slide 1 -->
        <div id="slide1" class="slides">
            <h3>Step 1: Purchase Password</h3>
            <div class="scroll">
                <p>To receive the codes needed to create your profile directory, please <a href="http://fav.me/d73p9tr" target="_blank">purchase the password</a> and type it in below.</p>
                <b>Important!</b> You must be a Premium Member for this greeting to work on your page.

                <input type="text" class="password" ng-model="data.password" placeholder="Password">
                <div id="termsCheckbox" class="font-sm">
                    <label><input type="checkbox" ng-model="data.terms">
                    I agree to not share this password with anyone else, and I agree to only creating profile directories for my own profile or a group that I am an admin for.</label>
                </div>
            </div>

            <span id="passwordMessage" class="errorMessage">{{passwordMessage}}</span>
            <div class="button" ng-click="checkPassword()">Next</div>
        </div>

        <!-- Slide 2 -->
        <div id="slide2" class="slides">
            <h3>Step 2: Copy Codes</h3>

            <div class="scroll">
                <p>Copy and paste the following HTML and CSS code into a journal, and the widget code into the Featured Deviation Widget. Please read this step-by-step <a href="http://www.simplydevio.us/resources/profile_tutorial.php" target="_blank">tutorial</a> for more details.</p>

                <p>HTML</p>
                <textarea class="code">{{userHtml}}</textarea>

                <p>CSS</p>
                <textarea class="code">{{userCss}}</textarea>

                <p>Widget HTML</p>
                <textarea class="code">{{userWidget}}</textarea>
            </div>
        </div>

    </div>
</div>
