<label><input type="checkbox" ng-model="j.includeStatus"> Include Status Buttons</label>

<div ng-show="j.includeStatus" class="mt10">
    <div class="row">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-4">
            <b>Button Name</b>
        </div>
        <div class="col-xs-7">
            <b>URL / Description</b>
        </div>
    </div>

    <div ng-repeat="button in j.statusButtons track by $index" class="row chunk">
        <div class="col-xs-1">
            <i class="fa fa-trash" class="link" ng-click="deleteStatusButton($index)"></i>
        </div>
        <div class="col-xs-4">
            <input type="text" class="name" ng-model="button.name">
        </div>
        <div class="col-xs-7">
            <input type="text" class="url" ng-model="button.url" placeholder="http://">
            <input type="text" ng-model="button.description" placeholder="Description" class="mt10">
        </div>
    </div>

    <div class="addButton" ng-click="addStatusButton()"><i class="fa fa-plus"></i> Add Button</div>

    <br><br>
    <b>Description</b>
    <div class="chunk">
        <h2>Font Style</h2>
        <div class="input">
            <label class="mr10"><input type="checkbox" ng-model="j.descriptionStyle.italic"> Italic</label>
            <label class="mr10"><input type="checkbox" ng-model="j.descriptionStyle.bold"> Bold</label>
            <label><input type="checkbox" ng-model="j.descriptionStyle.letterSpacing"> Letter Spacing</label>
        </div>
    </div>
    <div class="chunk">
        <h2>Font Size</h2>
        <div class="input">
            <input ng-model="j.statusSize" type="range" class="rangeWithLabel" min="1" max="30">
            <div class="range_label">{{j.statusSize}}</div>
        </div>
        <h2>Margin Top</h2>
        <div class="input">
            <input ng-model="j.statusMarginTop" type="range" class="rangeWithLabel" min="0" max="20">
            <div class="range_label">{{j.statusMarginTop}}</div>
        </div>
    </div>
    <div class="chunk">
        <h2>Text Color</h2>
        <div class="input">
            <input minicolors type="text" ng-model="j.descriptionColor" class="color" max="6">
        </div>
    </div>
</div>
