$teal: #24a684;
$green: #aecd1f;
$yellow: #fa9a18;
$purple: #7c2043;
$pink: #e31040;

* {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    position: relative;
    z-index: 1;
}

a{
    text-decoration:none;
    
}

.content a{
    font-weight:600;
}

#body{
    font-family:'Source Sans Pro';
}

.stripes{
    background:#fff url('../img/stripe.png');
}

.container{
    color:#fff;
    max-width:1100px;
    padding:0 10%;
    position:relative;
    margin:100px auto;

}

.bubble h1, .bubble h2{
    color:#fff;
    font-family:'Ubuntu';
}

.side{
    position:absolute;

    .desc{
        color:#999;
        margin-top:70px;
        max-width:90%;
    }
}

.title{
    padding:30px 30px;
    position:relative;
    border-radius:5px;
    text-align:center;
    display:inline-block;
    width:160px;
    background: $yellow;
    h1{
        color:#fff;
        margin: 0;
        text-transform:lowercase;
        font-size:24px;
    }

    &:before{
        content:'';
        height:0;
        width:0;
        position:absolute;
        border-left:30px solid transparent;
        border-bottom:30px solid transparent;
        border-right:50px solid $yellow;
        bottom: -30px;
        right: 30px;
    }
}

.content{
    line-height: 22px;
    color: #888;
    margin-left:300px;
    p {
        margin-bottom: 40px;
        line-height: 28px;
    }
    h2{
        font-size:30px;
        font-family:'Ubuntu';
        line-height:38px;
        
        font-weight:500;
        margin-bottom:30px;
        a{
            color:#444;
            font-weight:500;
        }
    }
    &.small{
        max-width:600px;
    }
}

.bubble{
    font-size:20px;
    line-height:28px;
    padding:30px;
    border-radius:5px;
    display:block;
    position:relative;
    opacity:.95;
    -webkit-transition:opacity .2s;
    -moz-transition:opacity .2s;
    -o-transition:opacity .2s;
    transition:opacity .2s;

    &.main{
        background: $green;
        max-width:470px;
        display:inline-block;
        padding:40px;
        a{
            color:#fff;
            font-weight:bold;
        }
    }
    &:before{
        content:'';
        height:0;
        width:0;
        position:absolute;
        border-left:80px solid transparent;
        border-bottom:70px solid transparent;
        border-right:110px solid $green;
        bottom: -50px;
        right: 50px;
    }

    p{
        margin-top:15px;
        color: #fff;
    }
    h1{
        margin: 10px 0 30px;
    }
    h2{
        text-transform: lowercase;
    }

}

.bubble_wrap{
    display:inline-block;
    vertical-align: top;
    margin-left:50px;
    margin-top:80px;
    

    .bubble{
        text-transform:lowercase;
        &:before{
            border-right:40px solid transparent;
            border-bottom:30px solid transparent;
            bottom: -30px;
            left: 30px;
        }
        p{
            line-height:24px;
        }
        &:hover{
            opacity:.8;
        }
    }
    
    .about{
        background: $pink;
        max-width:150px;
        left:250px;
        &:before{
            border-left:50px solid $pink;
        }
    }
     .websites{
        background: $teal;
        max-width:190px;
        top:-30px;
        text-align:right;
        &:before{
            border-left:40px solid transparent;
            border-right:50px solid $teal;
            left:80px;
        }
    }
    .art{
        background: $yellow;
        max-width:130px;
        left:250px;
        top:-70px;
        &:before{
            border-left:40px solid transparent;
            border-right:50px solid $yellow;
            left:50px;
        }
    }

    .contact{
        background: $purple;
        max-width:105px;
        top:-130px;
        left:50px;
        text-align:right;
        &:before{
            border-left:50px solid $purple;
        }
    }
}

/* MENU */

.navwrap {
    background: $green;
    z-index: 1000;
    position: relative;
    display: block;
    height: 45px;
    padding: 20px 5% 0;

    #nav {
        max-width: 1100px;
        margin: auto;
        text-align: right;
    }

    .menu_icon {
        display: none;
        opacity: .8;
        text-transform: uppercase;
        color: #fff;
        font-size: 14px;
    }

    .menulinks {
        text-align: right;
        height: 100%;
        width: 100%;
        position: relative;
        top: -15px;

        a {
            color: #fff;
            text-transform: lowercase;
            letter-spacing: 1px;
            font-family: 'Ubuntu';
            font-size: 14px;
            text-align: center;
            padding: 10px 10px;
            border-radius:4px;
            margin: 0 5px;
            font-weight:400;
            -webkit-transition:background .1s;
            -moz-transition:background .1s;
            -o-transition:background .1s;
            transition:background .1s;
            &:hover {
                background: mix($green, #fff, 70%);   
            }
        }
    }
    #logo {
        float: left;
        position: relative;
        top: 17px;
        opacity: 1;
        z-index: 99;
        font-family: 'Ubuntu';

        p {
            display: inline-block;
            color: #fff;
            position: relative;
            top: -12px;
            margin-left: 12px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 14px;
            font-weight: 700;
        }
    }
}

/* FORM ELEMENTS */

.contact_form{
    max-width:400px;
    background:#eee;
    padding:30px 40px;
    border-radius:5px;
}

input, textarea, select{
    font-family:'Ubuntu';
    font-size:15px;
    background:#fff;
    border-radius:5px;
    padding:13px 5%;
    display:block;
    width:90%;
    max-width:90%;
    margin:9px 0;
}

input[type="checkbox"]{
    display: inline-block;
    width: 20px;
}

textarea{
    height:80px;
}

select{
    width:100%;
    max-width:none;
    cursor:pointer;
}

.submit_button{
    background: $teal;
    color:#fff;
    border-radius:5px;
    cursor:pointer;
    width:100%;
    max-width:100%;
}

/* ARTWORK - GALERY THUMBS */

.gallery{
    max-width:500px;
}

.gallery img{
    width:95%;
    border:1px solid #ddd;
    padding:2%;
    margin-bottom:10px;
}

@media screen and (max-width: 1150px) {
    .bubble.main{
        display:block;
        margin:auto;
    }
    .bubble_wrap{
        display:block;
        width: 500px;
        margin: 80px auto 0;
        .about{
            margin-left:40px;
        }
        .art{
            margin-left:40px;
        }
    }

}

@media screen and (max-width: 800px) {
    .container{
        margin:50px auto;
    }
    .side{
        position:relative;
        left:0;
        margin-bottom:60px;
    }

    .content{
        margin-left:0;
    }
}


@media screen and (max-width: 700px) {
    .navwrap {
        padding: 10px 0;

        #logo {
            position: relative;
            left: 20px;
            padding-top:10px;
        }
        .menu_icon {
            display: block !important;
            top: -15px;
            display: inline-block;
            position: relative;
            padding: 25px 15px;
            cursor: pointer;
            img {
                position: relative;
                top: 5px;
                margin-left: 5px;
            }
        }
    }

    .menuwrap {
        .menulinks {
            width: 100%;
            display: none;
            text-align: left;
            background: $green;
            position: absolute;

            top: 55px;
            right: 0;
            height: 138px;
            a {
                display: block;
                width: 100%;
                text-align: center;
                padding:8px 0;
                margin-left:0px;
            }
        }
    }

    .banner {
        height: 300px;
    }

    .left {
        width: 100%;
    }
    .right {
        display: block;
        width: 100%;
        margin-top: 50px;
    }

    .bubble_wrap{
        max-width:100%;

    }

    .bubble_wrap .bubble{
        left:0!important;
        max-width:none;
        top:0;
        margin-bottom:50px;
        margin-left:0;
    }
}

@media screen and (min-width: 700px) {
    .menulinks {
        display: inline-block !important;
    }
}