<div class="cols even">
    <div class="ctab_menu">
        <div id="ctab1" class="tabby selected">Main CSS</div>
        <div id="ctab2" class="tabby not_selected">Header</div>
        <div id="ctab3" class="tabby not_selected">Footer</div>
    </div>

    <div id="cbox1" class="tab_page cpage visible">
        <b>Main CSS</b>
        <p>Paste into the main Skin CSS section of your journal.</p>
        <textarea id="textstringArea"></textarea>
    </div>
    <div id="cbox2" class="tab_page cpage hidden">
        <b>HTML Code</b>
        <p>Paste into the Header CSS section of your journal.</p>
        <textarea id="htmlArea" class="textArea"></textarea>
    </div>
    <div id="cbox3" class="tab_page cpage hidden">
        <b>CSS Code</b>
        <p>Paste into the Footer CSS section of your journal.</p>
        <textarea id="cssArea" class="textArea"><div class="credit">Created at <a href="http://www.simplydevio.us/resources/basic_journal.php">simplydevio.us</a></div></textarea>
    </div>
</div>
