<div class="cols even">
    <div class="note line-height:22px;">
        <h2>Rules</h2>
        <b>Non-commercial use only</b>. Feel free to create journal skins for yourself or upload skins as gifts, trades, requests, etc. for others, but you may not sell any skins that use code from this generator.
        <br><br>
        <b>Give credit.</b> Please include a link to my <a href="http://www.simplydevio.us/resources/basic_journal.php">CSS Creator page</a> either in the text of your journal skin or in the header/footer area. If you upload a skin that uses code from this creator, please include the link in both the Journal CSS as well as in the Skin Description. Credit to my DeviantART account at <a href="http://simplysilent.deviantart.com">SimplySilent</a> is also greatly appreciated.
    </div>
</div>
