<form id="profileDirectory">
    <!-- Journal Box -->
    <div id="block1" class="block" ng-class="{'selected' : tabs[1]}" ng-click="toggleTab(1)">Journal Box</div>
    <div id="tab1" class="side_page">
        <ng-include src="'/resources/journal_creator/tabs/journalBox.html'"></ng-include>
    </div>

    <!-- Journal Top -->
    <div id="block2" class="block" ng-class="{'selected' : tabs[2]}" ng-click="toggleTab(2)">Journal Top</div>
    <div id="tab2" class="side_page">
        <ng-include src="'/resources/journal_creator/tabs/journalTop.html'"></ng-include>
    </div>

    <!-- Title and Time Stamp -->
    <div id="block3" class="block" ng-class="{'selected' : tabs[3]}" ng-click="toggleTab(3)">Title</div>
    <div id="tab3" class="side_page">
        <ng-include src="'/resources/journal_creator/tabs/journalTitle.html'"></ng-include>
    </div>

    <div id="block8" class="block" ng-class="{'selected' : tabs[8]}" ng-click="toggleTab(8)">Timestamp</div>
    <div id="tab8" class="side_page">
        <ng-include src="'/resources/journal_creator/tabs/timestamp.html'"></ng-include>
    </div>

    <!-- Journal Text -->
    <div id="block4" class="block" ng-class="{'selected' : tabs[4]}" ng-click="toggleTab(4)">Journal Text</div>
    <div id="tab4" class="side_page">
        <ng-include src="'/resources/journal_creator/tabs/journalText.html'"></ng-include>
    </div>

    <!-- Padding -->
    <div id="block5" class="block" ng-class="{'selected' : tabs[5]}" ng-click="toggleTab(5)">Padding &amp; Margin</div>
    <div id="tab5" class="side_page">
        <ng-include src="'/resources/journal_creator/tabs/padding.html'"></ng-include>
    </div>

    <!-- Journal Bottom -->
    <div id="block6" class="block" ng-class="{'selected' : tabs[6]}" ng-click="toggleTab(6)">Journal Bottom</div>
    <div id="tab6" class="side_page">
        <ng-include src="'/resources/journal_creator/tabs/journalBottom.html'"></ng-include>
    </div>
    <!-- Blockquote -->
    <div id="block7" class="block" ng-class="{'selected' : tabs[7]}" ng-click="toggleTab(7)">Block Quote</div>
    <div id="tab7" class="side_page">
        <ng-include src="'/resources/journal_creator/tabs/blockquote.html'"></ng-include>
    </div>

    <!-- Extras -->
    <div id="block8" class="block" ng-class="{'selected' : tabs[8]}" ng-click="toggleTab(8)">Extras</div>
    <div id="tab8" class="side_page">
        <b>Hr (Divider)</b><br>
        <input id="hr_color" class="color" maxlength="6" value="888888">
    </div>
</form>
