<form id="profileDirectory">
    <!-- Journal Box -->
    <div id="block1" class="block selected">Journal Box</div>
    <div id="tab1" class="side_page">
        <ng-include src="'/resources/journal_creator/tabs/journalBox.html'"></ng-include>
    </div>

    <!-- Journal Top -->
    <div id="block2" class="block">Journal Top</div>
    <div id="tab2" class="side_page">
        <ng-include src="'/resources/journal_creator/tabs/journalTop.html'"></ng-include>
    </div>

    <!-- Title and Time Stamp -->
    <div id="block6" class="block">Title &amp; Timestamp</div>
    <div id="tab6" class="side_page">
        <ng-include src="'/resources/journal_creator/tabs/journalTitle.html'"></ng-include>
    </div>

    <!-- Journal Text -->
    <div id="block3" class="block">Journal Text</div>
    <div id="tab3" class="side_page">
        <ng-include src="'/resources/journal_creator/tabs/journalText.html'"></ng-include>
    </div>
    <!-- Journal Text -->
    <div id="block7" class="block">Padding &amp; Margin</div>
    <div id="tab7" class="side_page">
        <b>Padding</b>
        <br><span class="heading">Sides</span><input id="horpadding" type="range" min="0" max="20" value="5"><span class="range_label" id="hor_padding_range"></span>
        <br><span class="heading">Vertical</span><input id="verpadding" type="range" min="0" max="100" value="30"><span class="range_label" id="ver_padding_range"></span>
        <br>

        <b>Margin</b>
        <br><span class="heading">Sides</span><input id="hormargin" type="range" min="0" max="20" value="5"><span class="range_label" id="hor_margin_range"></span>
        <br><span class="heading">Vertical</span><input id="vermargin" type="range" min="0" max="100" value="30"><span class="range_label" id="ver_margin_range"></span>
    </div>
    <!-- Journal Bottom -->
    <div id="block4" class="block">Journal Bottom</div>
    <div id="tab4" class="side_page show">
        <ng-include src="'/resources/journal_creator/tabs/journalBottom.html'"></ng-include>
    </div>
    <!-- Blockquote -->
    <div id="block5" class="block">Block Quote</div>
    <div id="tab5" class="side_page show">
        <ng-include src="'/resources/journal_creator/tabs/blockquote.html'"></ng-include>
    </div>

    <!-- Extras -->
    <div id="block8" class="block">Extras</div>
    <div id="tab8" class="side_page show">
        <b>Hr (Divider)</b><br>
        <input id="hr_color" class="color" maxlength="6" value="888888">
    </div>
</form>
