<form id="profileDirectory">
    <!-- Journal Box -->
    <div id="block-box" class="block" ng-class="{'selected' : isSelected('box')}" ng-click="toggleTab('box')">Journal Box</div>
    <div id="tab-box" class="side_page">
        <ng-include src="'/resources/journal_creator/tabs/journalBox.html'"></ng-include>
    </div>

    <!-- Journal Top -->
    <div id="block-top" class="block" ng-class="{'selected' : isSelected('top')}" ng-click="toggleTab('top')">Journal Top</div>
    <div id="tab-top" class="side_page">
        <ng-include src="'/resources/journal_creator/tabs/journalTop.html'"></ng-include>
    </div>

    <!-- Title and Time Stamp -->
    <div id="block-title" class="block" ng-class="{'selected' : isSelected('title')}" ng-click="toggleTab('title')">Title</div>
    <div id="tab-title" class="side_page">
        <ng-include src="'/resources/journal_creator/tabs/journalTitle.html'"></ng-include>
    </div>

    <div id="block-timestamp" class="block" ng-class="{'selected' : isSelected('timestamp')}" ng-click="toggleTab('timestamp')">Timestamp</div>
    <div id="tab-timestamp" class="side_page">
        <ng-include src="'/resources/journal_creator/tabs/timestamp.html'"></ng-include>
    </div>

    <!-- Journal Text Box -->
    <div id="block-textBox" class="block" ng-class="{'selected' : isSelected('textBox')}" ng-click="toggleTab('textBox')">Text Box</div>
    <div id="tab-textBox" class="side_page">
        <ng-include src="'/resources/journal_creator/tabs/textBox.html'"></ng-include>
    </div>

    <!-- Journal Text -->
    <div id="block-text" class="block" ng-class="{'selected' : isSelected('text')}" ng-click="toggleTab('text')">Journal Text</div>
    <div id="tab-text" class="side_page">
        <ng-include src="'/resources/journal_creator/tabs/journalText.html'"></ng-include>
    </div>

    <!-- Journal Bottom -->
    <div id="block-bottom" class="block" ng-class="{'selected' : isSelected('bottom')}" ng-click="toggleTab('bottom')">Journal Bottom</div>
    <div id="tab-bottom" class="side_page">
        <ng-include src="'/resources/journal_creator/tabs/journalBottom.html'"></ng-include>
    </div>

    <!-- CommentLink -->
    <div id="block-comments" class="block" ng-class="{'selected' : isSelected('comments')}" ng-click="toggleTab('comments')">Comments Link</div>
    <div id="tab-comments" class="side_page">
        <ng-include src="'/resources/journal_creator/tabs/comments.html'"></ng-include>
    </div>

    <!-- Blockquote -->
    <div id="block-blockquote" class="block" ng-class="{'selected' : isSelected('blockquote')}" ng-click="toggleTab('blockquote')">Block Quote</div>
    <div id="tab-blockquote" class="side_page">
        <ng-include src="'/resources/journal_creator/tabs/blockquote.html'"></ng-include>
    </div>

    <!-- Header -->
    <div id="block-header" class="block" ng-class="{'selected' : isSelected('header')}" ng-click="toggleTab('header')">Header</div>
    <div id="tab-header" class="side_page">
        <ng-include src="'/resources/journal_creator/tabs/header.html'"></ng-include>
    </div>
</form>
