/* ---------------------------
		GENERAL CSS
----------------------------- */

*{
	padding:0;
	margin:0;
	font-family:'Montserrat';
}

a{
	text-decoration:none;
}

h2 a{
	color:#008b85!important;
}

p a{
	color:#000;
}

body{
	background:#f8f8f8;
	overflow-x: hidden;
}

h1{
    text-align: center;
    margin-bottom:30px;
    text-transform:uppercase;
    color:#222;
}

h1.white{
	color:#fff;
}

h2{
	color:#222;
}

.section p{
	color:#222;
}

.anchor{
	position:relative;
	top:-100px;
}

.anchor.p{
	top:-150px;
}

/* Wrapper for each main section */
.section{
	padding:90px 0;
	clear:both;
}

.section.b{
	background:#00ada7;
}

.section.b *{
	color:#fff;
}

.clear{
	clear:both;
}

/* Keeps content centered */
/* Kinda being phased out for bootstrap's container */
.wrap{
	margin:0 auto;
	max-width:1000px;
	padding:0 50px;
	position:relative;
}


/* ---------------------------
		NAVIGATION 
----------------------------- */

/* Nav bar logo */
.navbar-brand img{
  width: 50px;
  display: inline-block!important;
}

.navbar{
	padding-top: 5px;
	padding-bottom: 5px;
}

.navbar-brand{
	position: relative;
	top:-15px;
}

/* The "Belle Apps" part */
.navbar-brand span{
	position: relative;
	left:10px;
	top:5px;
	font-size:24px;
	color: #fe7e00;
	font-weight:bold;
}

.nav>li>a{
	padding: 15px 5px;
}

.login{
	background:#00ada7;
	border-radius:5px;
	
	margin-top:7px;
	transition:.2s;
}

.login:hover{
	background:#fe7e00;
}

.login a{
	color:#fff!important;
	padding:0!important;
	padding:8px 18px!important;

}


/* ---------------------------
		HERO IMAGE
----------------------------- */

.fixed{
	position:fixed;
	width:100%;
}

.header_image{
	height:850px;
	background: url('../images/cover2.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.cover{
	position:relative;
	top:850px;
	background:#f8f8f8;
}

.blurb{
	position:absolute;
	background: #fe7e00;
	color:#fff!important;
	padding:50px 70px 50px 50px;
	font-size:4em;
	top:400px;
	font-weight:700;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
}

#app_button{
	display: none;
}


/* ---------------------------
		ABOUT AND DONATE
----------------------------- */

.image{
	width:47%;
	display:inline-block;
	vertical-align: bottom!important;
}

.donate_images{
	text-align:center;
}

.image img{
	max-width:100%;
}


#about .image{
    width:100%;
    max-width:180px;
    margin:0 1%;
    display:inline-block;
    vertical-align:middle;
    filter: grayscale(1) brightness(3);
    -webkit-filter: grayscale(1) brightness(3);
    transition:all 0.2s;
}

#about .image:hover{
	filter: grayscale(0) ;
	-webkit-filter: grayscale(0) ;
}

.col-sm-6{
	padding-right:40px;
	padding-left:40px;
}

/* ---------------------------
		ICON DIAGRAM
----------------------------- */

img#diagram{
	width:900px;
	max-height:2000px!important;
	overflow:hidden!important;
}

#diagram{
	background: #f8f8f8 url('../images/map1.jpg');
	height: 2350px;
	text-align:center;
	padding:0;
	position: relative;
}

/* Icons and Junk */

/* The rest of the styling is in icons.js */

.wrap.ab{
	position:absolute;
	top:0;
	padding:0;
	height: auto;
	width:100%;
	max-width: none;
}

.icon_wrap{
	position:relative;
	width:100%;
	height: 100%;
	margin:0 auto;
	max-width: none;
}

.icon_image{
	position: absolute;
}

/* Canvas */

#map{
	position:relative;
	margin-top:170px;
}


/* ---------------------------
		CONTACT SECTION
----------------------------- */

#contact{
	padding:40px 0 50px;
}

#contact h1{
	color:#fff;
}

#contact p{
	color:#fff;
}

#contact .form{
	width:100%;
}

input, textarea{
	padding:10px 3%;
	margin: 4px 0;
	width:94%;
	border:none;
	border-radius:3px;
	background:#ddd;
}

::-webkit-input-placeholder {
   color: #444;
}

:-moz-placeholder { /* Firefox 18- */
   color: #444;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #444; 
}

:-ms-input-placeholder {  
   color: #444;
}

textarea{
	height:100px;
}

button.submit{
	padding:10px 0;
	text-align:center;
	border:0;
	width:94%;
	background: #00ada7;
	color:#fff;
	font-size:16px;
	border-radius:3px;
	cursor:pointer;
}

button.submit:hover{
	background:#fe7e00;
}

.error{
	color:#fff;
	font-size:14px;
	margin-bottom:-10px;
}

/* ---------------------------
		FOOTER
----------------------------- */

#contact{
	background:#222;
	padding-top:70px;
}

.footer, .index_footer{
	color:#fff;
}

.footer{
	padding:10px 0 0;
	width:100%;
	margin-bottom:-20px;
}

.index_footer p{
	margin:4px 0;
}

.index_footer h3{
	text-align:left;
	font-size:28px;
	text-transform: uppercase;
	margin-top:0px;
	margin-bottom:30px;
}

.footer a, .index_footer a{
	color:#fff;
}

.footer p{
	display:inline-block;
	margin-left: 20px;
}

.footer .social{
	position:absolute;
	right:0;
	top:5px;
}

.index_footer .social{
	margin:20px 0
}

.index_footer .footer_links{
	margin-top:20px;

}

.social_media{
	text-align:right;
	top:-15px;
}


/* ---------------------------
		FOOTER
----------------------------- */

/* Most of this is in style2.css, which is probably overriding everything here */

#FAQ .wrap2{
	width:60%;
	
}

#FAQ h1{
	text-align:left;
}


#FAQ h2{
	margin: 18px 0;
	color:#00ada7;
}

#FAQ h3{
	margin-bottom:15px;
}

#FAQ p{
	margin-bottom:20px;
}


li{
	margin-left:20px;
}

.job{
	cursor: pointer;
	color:#222;
	line-height:22px;
	border-bottom:1px solid #ddd;
}

.job_info{
	display:none;
		background:#fff;
		padding:30px 30px;
		border-radius:10px;
}




/* Coding for mobile version of the icon map 

Nothing is shown until width is <700px */

.mobile_wrap{
	display:none;
}


/* Teal how this works with downward arrow */

#works{
	text-align: center;
	background-color: #00ada7;
	padding: 15px;
	border: 5px;
}

h1.black{
	color: black;
}


@media screen and (max-width: 950px) {
	.app{
		display:none;
	}

	.blurb{
		font-size:50px;
	}
}

@media screen and (max-width: 700px) {
	.arrow{
		display:none;
	}


	#app_button{
		top:150px!important;
	}

	.blurb{
		width:100%;
		text-align:center;
		top:250px;
		padding: 20px;
		font-size:35px;
		border-radius:0;
	}

	.index_footer{
		text-align:center;
		margin-bottom: 30px;
	}

	.index_footer h3{
		text-align: center;
	}

	.social_media{
		text-align:center;
		top:0px;
	}

	.new_footer{
		text-align:center;
	}

	.sidebar{
		display:none;
	}

	.arrow{
		display:none;
	}

	.header_image{
		height:400px;
	}

	.fixed{
		position:relative;
	}

	.cover{
		top:0px;
	}


	/* Icon on mobile */

	#diagram, .wrap.ab{
		display:none;
	}

	#mobile_diagram{
		text-align:center;
		background:#f8f8f8 url('../images/map1.jpg');
		padding-top:20px;
	}

	.mobile_wrap{
		display:block;
	}

	.mobile_wrap img{
		max-height:160px;
		max-width:100%;
		margin-bottom:15px;
	}


	.order, .shopper{
		display:inline-block;
		vertical-align:top;
		padding-top:50px;
		width:40%;
	}

	.order{
		margin-right:10%;
	}

	.label{
		padding:10px 10px;
		border-radius:5px;
		color:#fff;
		font-size:14px;
	}

	.circle{
		background:#ffca62;
		height:110px;
		width:110px;
		padding-top:40px;
		border-radius:100%;
		margin:10px auto -20px;
		font-weight:bold;
		font-size:14px;
	}

	.label.o{
		background:#fe7e00;
	}

	.label.b{
		background: #00ada7;
	}

	.column-right, .column-left, .column-center{
		padding:0;
		width:100%;
		
		display:block;
	}
}


/* Laptops and Desktops */
@media screen and (max-width:1025px) {
	.login{
		display:none!important;
	}
	#app_button{
		display:block;
		text-align:center;
		position:absolute;
		top:250px;
		width:100%;

	}
}

@media screen and (max-width: 450px) {
	.logo{
		left:0;
	}

	.index_footer{
		text-align:center;
		width:90%;
	}

	.header_image{
		height:400px;
	}

	#app_button{
		top:150px;
	}

	.blurb{
		top:270px;
		font-size:30px;
		padding: 20px 0;
	}
}



.arrow{
	position:absolute;
	right:100px;
	top:600px;
}

.arrow img{
	width:30px;
}

/* Bootstrap overriding */
.col-md-4{
	padding-right:20px;
	padding-left:20px;
}