<div class="row">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-5">
        <b>Page URL</b>
    </div>
    <div class="col-xs-6">
        <b>Image URL</b>
    </div>
</div>

<div ng-repeat="image in j.images" class="row chunk">
    <div class="col-xs-1">
        <i class="fa fa-trash" class="link" ng-click="deleteImage($index)"></i>
    </div>
    <div class="col-xs-5">
        <input type="text" class="name" ng-model="image.url">
    </div>
    <div class="col-xs-6">
        <input type="text" class="url" ng-model="image.image" placeholder="http://">
    </div>
</div>

<div class="addButton" ng-click="addImage()"><i class="fa fa-plus"></i> Add Image</div>
