<div class="chunk">
    <h2>Back<br>ground</h2>
    <div class="input">
        <input type="text" ng-model="j.background" placeholder="http://">
    </div>
</div>

<div class="chunk">
    <h2>Slide Background</h2>
    <div class="input">
        <input minicolors type="text" ng-model="j.slideBackground" class="color" max="6">
    </div>
</div>

<div class="chunk">
    <h2>Thumb Background</h2>
    <div class="input">
        <input minicolors type="text" ng-model="j.thumbBackground" class="color" max="6">
    </div>
</div>

<div class="chunk">
    <h2>Width</h2>
    <div class="input">
        <input ng-model="j.maxWidth" type="range" class="rangeWithBigLabel" min="200" max="550">
        <div class="range_label">{{j.maxWidth}}</div>
    </div>
</div>
