<b>Gallery Button - Normal</b>
<div class="chunk">
    <h2>Background</h2>
    <div class="input">
        <input minicolors type="text" ng-model="j.galButtonBackground" class="color" max="6">
    </div>
</div>
<div class="chunk">
    <h2>Color</h2>
    <div class="input">
        <input minicolors type="text" ng-model="j.galButtonText" class="color" max="6">
    </div>
</div>

<b>Gallery Button - Hover</b>
<div class="chunk">
    <h2>Background</h2>
    <div class="input">
        <input minicolors type="text" ng-model="j.galButtonBackgroundHover" class="color" max="6">
    </div>
</div>
<div class="chunk">
    <h2>Color</h2>
    <div class="input">
        <input minicolors type="text" ng-model="j.galButtonTextHover" class="color" max="6">
    </div>
</div>

<b>Normal Button - Normal</b>
<div class="chunk">
    <h2>Background</h2>
    <div class="input">
        <input minicolors type="text" ng-model="j.buttonBackground" class="color" max="6">
    </div>
</div>
<div class="chunk">
    <h2>Color</h2>
    <div class="input">
        <input minicolors type="text" ng-model="j.buttonText" class="color" max="6">
    </div>
</div>

<b>Normal Button - Hover</b>
<div class="chunk">
    <h2>Background</h2>
    <div class="input">
        <input minicolors type="text" ng-model="j.buttonBackgroundHover" class="color" max="6">
    </div>
</div>
<div class="chunk">
    <h2>Color</h2>
    <div class="input">
        <input minicolors type="text" ng-model="j.buttonTextHover" class="color" max="6">
    </div>
</div>

<div class="chunk">
    <h2>Image Color</h2>
    <div class="input">
        <input minicolors type="text" ng-model="j.imageColor" class="color" max="6">
    </div>
</div>
