<b>Main Button - Normal</b>
<div class="chunk">
    <h2>Background</h2>
    <div class="input">
        <input minicolors type="text" ng-model="j.mainButtonBackground" class="color" max="6">
    </div>
    <h2>Color</h2>
    <div class="input">
        <input minicolors type="text" ng-model="j.mainButtonColor" class="color" max="6">
    </div>
</div>

<b>Main Button - Hover</b>
<div class="chunk">
    <h2>Background</h2>
    <div class="input">
        <input minicolors type="text" ng-model="j.mainButtonBackgroundHover" class="color" max="6">
    </div>
    <h2>Color</h2>
    <div class="input">
        <input minicolors type="text" ng-model="j.mainButtonColorHover" class="color" max="6">
    </div>
</div>

<b>Normal Button - Normal</b>
<div class="chunk">
    <h2>Background</h2>
    <div class="input">
        <input minicolors type="text" ng-model="j.buttonBackground" class="color" max="6">
    </div>
    <h2>Color</h2>
    <div class="input">
        <input minicolors type="text" ng-model="j.buttonColor" class="color" max="6">
    </div>
</div>

<b>Normal Button - Hover</b>
<div class="chunk">
    <h2>Background</h2>
    <div class="input">
        <input minicolors type="text" ng-model="j.buttonBackgroundHover" class="color" max="6">
    </div>
    <h2>Color</h2>
    <div class="input">
        <input minicolors type="text" ng-model="j.buttonColorHover" class="color" max="6">
    </div>
</div>
