<div class="chunk">
    <h2>Background <tooltip info="tooltips.getImageUrl"></tooltip></h2>
    <div class="input">
        <input type="text" ng-model="j.background" placeholder="Image Source URL">
    </div>
</div>
<div class="chunk">
    <h2>Font <tooltip info="tooltips.font"></tooltip></h2>
    <div class="input">
        <input type="text" ng-model="j.fontFamily" placeholder="Font Name">
    </div>
</div>
<div class="chunk">
    <h2>Font Size</h2>
    <div class="input">
        <input ng-model="j.fontSize" type="range" class="rangeWithBigLabel" min="0" max="30">
        <div class="range_label">{{j.fontSize}}</div>
    </div>
</div>
<div class="chunk">
    <h2>Padding</h2>
    <div class="input">
        <input ng-model="j.padding" type="range" class="rangeWithBigLabel" min="0" max="30">
        <div class="range_label">{{j.padding}}</div>
    </div>
</div>
<div class="chunk">
    <h2>Margin</h2>
    <div class="input">
        <input ng-model="j.margin" type="range" class="rangeWithBigLabel" min="0" max="30">
        <div class="range_label">{{j.margin}}</div>
    </div>
</div>

<div class="chunk">
    <h2>Image Color</h2>
    <div class="input">
        <input minicolors type="text" ng-model="j.imageColor" class="color" max="6">
    </div>
</div>

<div class="chunk">
    <h2>Transition Type</h2>
    <div class="input">
        <select ng-model="j.transitionType">
            <option value="none">None</option>
            <option value="moveText">Move Text</option>
            <option value="letterSpacing">Increase Letter Spacing</option>
            <option value="bold">Bold</option>
            <option value="italicize">Italicize</option>
        </select>
    </div>
</div>

<div class="chunk">
    <h2>Options</h2>
    <div class="input">
        <label><input type="checkbox" ng-model="j.buttonsOnRight"> Buttons on Right Side</label><br>
        <label><input type="checkbox" ng-model="j.includeTransitions"> Smooth Transitions</label><br>
        <label><input type="checkbox" ng-model="j.includeShadow"> Include Shadow</label>
        <div ng-show="j.includeShadow">
            <input minicolors type="text" ng-model="j.shadow" class="color" max="6">
        </div>
    </div>
</div>
