<div class="container">
	<div class="min">
		<p class="big">Hello, my name is <strong>Inyoung</strong>. I'm a computer science student at Cornell University in the class of 2018.<p>

		<p>I am well-versed in developing each part of a website: from the visual design, to the front-end, to the back-end. I come to CS from an artistic background, so using Photoshop to design clean and beautiful layouts is second-nature to me. I am fluent in the fundamentals of front-end development, including <b>HTML5</b>, <b>CSS3</b>, <b>Javascript</b>, and <b>jQuery</b>, and I also stay up to date with the latest trends by utilizing tools like <b>SASS</b>, <b>Bootstrap</b>, <b>AngularJS</b>.</p>

		<p>For back-end, I know how to make database-driven websites completely from scratch using <b>PHP</b> and <b>MySQL</b>, or from powerful frameworks like <b>Meteor.js</b> and <b>Ruby on Rails</b>. I also have experience leveraging libraries, modules, and API's to enhance websites without having to reinvent the wheel. My passion lies with full-stack web development, and I hope to continue developing my skills in the coming years.</p>

		<p>Whenever I'm not working on commissions, learning more code, or trying to make the next big thing, I can be found creating art, sewing, or poorly attempting to juggle.</p>

		<br><br><hr><br>

		<p>This site was created with <b>AngularJS</b>. Source Code: <a href="https://github.com/inyounghong/SimplyDevio.us/tree/master/portfolio">Github</a>.</p>

		<br>

		<h3>Credits</h3>
		<ul>
			<!-- <li><a href="https://github.com/VincentGarreau/particles.js/">Particles.js</a> by VincentGarreau</li> -->
			<li>Icons made by <a href="http://www.flaticon.com/authors/vectorgraphit" title="Vectorgraphit">Vectorgraphit</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></li>
		</ul>
	</div>

</div>
