<nav id="nav">
	<div class="container">
		<div class="nav-logo">
			<a href="./" class="title">Inyoung Hong</a>
		</div>
		<div class="nav-right">
			<a id="nav_web" href="./#/webdev">Web Dev</a>
			<a id="nav_prog" href="./#/programming">Programming</a>
			<a id="nav_des" href="./#/design">Design</a>
			<a id="nav_contact" href="./#/contact">Contact</a>
		</div>
	</div>
</nav>

<div class="container narrow padding c">
	<div class="small">
		<div class="speech">
			Currently looking for a web development or software engineering internship for 2016! Please don't hesitate to contact me if you have an opportunity I might be interested in.
		</div>
		<br><br>
		<div class="row">
			<div class="col-sm-6">
				<h2>Email</h2>
				<p>ih235@cornell.edu</p>
			</div>
			<div class="col-sm-6">
				<h2>LinkedIn</h2>
				<p><a href="https://www.linkedin.com/in/inyounghong">Inyoung Hong</a></p>
			</div>
		</div>
	</div>
	
</div>