<nav id="nav">
	<div class="container">
		<div class="nav-logo">
			<a href="./" class="title">Inyoung Hong</a>
		</div>
		<div class="nav-right">
			<a id="nav_web" href="./#/webdev">Web Dev</a>
			<a id="nav_prog" href="./#/programming">Programming</a>
			<a id="nav_des" href="./#/design">Design</a>
			<a id="nav_contact" href="./#/contact">Contact</a>
		</div>
	</div>
</nav>

<div class="container narrow padding">
	<div class="hero">
		<div id="greet"> inyoung hong </div>
		
		<p>Hi, my name is Inyoung, and I'm a Computer Science student at Cornell University. My passion lies with software engineering, web development, and design.</p>

		<div class="circle-wrap">
			<a href="./#/programming" class="circle" id="programming">
				<img src="./img/icon_gear.png">
				<div class="desc">Programming</div>
			</a>
			<a href="./#/webdev" class="circle" id="webdev">
				<img src="./img/icon_browser.png">
				<div class="desc">Web Development</div>
			</a>
			<a href="./#/design" class="circle" id="design">
				<img src="./img/icon_design.png">
				<div class="desc">Graphic Design</div>
			</a>
		</div>
	</div>
</div>



<!-- <div class="gray">
	<div class="container narrow padding">
		<h2>Work &amp; Projects</h2>
			
		<a href="./#/projects" class="image">
			<img src="./img/prev_wicc.jpg" >
			<div class="caption">
				<h3>WICC Website</h3>
				<p>Website redesign for Women in Computing at Cornell</p>
			</div>
		</a>
		<a href="./#/projects" class="image">
			<img src="./img/translationapp.gif" >
			<div class="caption">
				<h3>Translation App</h3>
				<p>Language-learning website made with MeteorJS.</p>
			</div>
		</a>

		<a href="./#/projects" class="image">
			<img src="./img/preview_sri.jpg" >
			<div class="caption">
				<h3>SRI-Rice</h3>
				<p>Website for Cornell University's SRI-Rice organization.</p>
			</div>
		</a>
		<a href="./#/projects" class="image">
			<img src="./img/laptop_simply.jpg" >
			<div class="caption">
				<h3>Simply Devious</h3>
				<p>Website for personal business. Widgets made with Javascript.</p>
			</div>
		</a>
		

		
		<a href="./#/projects" class="image">
			<img src="./img/belleapps.jpg" >
			<div class="caption">
				<h3>Belle Apps</h3>
				<p>Website and graphics for Belle Apps, a Cornell start-up.</p>
			</div>
		</a>

		<a href="./#/projects" class="image">
			<img src="./img/wanna.gif" >
			<div class="caption">
				<h3>Wanna</h3>
				<p>A sleek to-do web app made with Javascript and AJAX.</p>
			</div>
		</a>

		<br><br>
		<div class="c">
			<a href="./#/projects" class="button">View All Projects</a>
		</div>
 -->
	
<!-- 
	<h2>Education</h2>
	<div class="c">
		Cornell University, Class of 2018, College of Arts &amp; Sciences <br>
		Computer Science Major | Information Science Minor
	</div><br> -->

	
	<!-- <div class="row">
		<div class="col-sm-6">
			<h3>Previous Coursework</h3>
			<ul>
				<li>Object-Oriented Programming and Data Structures</li>
				<li>Discrete Structures</li>
				<li>Intermediate Web Design and Programming</li>
				<li>UNIX Tools and Scripting</li>
				<li>Introduction to Computing Using Python</li>
				<li>Linear Algebra</li>
		</div>
		<div class="col-sm-6">
			<h3>Current Coursework</h3>
			<ul>
				<li>Data Structures and Functional Programming</li>
				<li>C++ Programming</li>
				<li>Introduction to iPhone Development</li>
				<li>Networks</li>
			</ul>
		</div>
	</div>
	 


	<h2>Experience</h2>

	Web Designer | SRI International Network and Resources Center (Cornell) 
	<div class="time">Fall 2015 – Current</div>
	<ul>
		<li>Work closely with client to conceptualize organization’s main ideas in a professional website.</li>
		<li>Design detailed mock-ups and implement them with HTML5, SASS, Bootstrap, PHP.</li>
		<li>Ensure visually-heavy website can be viewed across multiple devices and in areas of the world with low bandwidth connection.</li>
	</ul>

	Section TA | CS 1300: Introduction to Web Design and Programming
	<div class="time">Fall 2015 – Current</div>
	<ul>
		<li>Teach a weekly one-hour discussion section of 20 students, giving supplementary lectures and leading students through hands-on practice</li>
		<li>Hold two hours of walk-in consulting hours per week to provide students with one-on-one assistance with course material or assignments</li>
	</ul>

	Freelance Web Designer
	Fall 2013 – Current
	<ul>
		<li>Developed Javascript widgets that allow users with no design or coding experience to create and purchase their own CSS themes for DeviantART</li>
		<li>Managed over 1,000 users with 2,000 total purchases</li>
	</ul>

	Web Designer | Women in Computing at Cornell
	Fall 2014 – Current 
	<ul>
		<li>Redesigned website for a more professional and visually-pleasing appearance</li>
		<li>Produced new, more intuitive website architecture to better organize existing content</li>
	</ul>

	Web Developer | BelleApps
	all 2014 – Summer 2015
	<ul>
		<li>Led a team to develop responsive front-end designs and a web application from Photoshop files and wireframes</li>
	</ul>

	<h2>Skills</h2> -->
	</div>
</div>