<nav id="nav">
	<div class="container">
		<div class="nav-logo">
			<a href="./" class="title">Inyoung Hong</a>
		</div>
		<div class="nav-right">
			<a id="nav_web" href="./#/webdev">Web Dev</a>
			<a id="nav_prog" href="./#/programming">Programming</a>
			<a id="nav_des" href="./#/design" >Design</a>
		</div>
	</div>
</nav>

<div class="container center project">

	<img src="img/{{projects[projectId].img}}">
	<br><br><br>
	<h2>{{projects[projectId].name}}</h2>
	<span class="type">{{projects[projectId].type}}</span> 
	<span class="work" ng-show="projects[projectId].work">/ {{projects[projectId].work}}</span>
	<span class="installs" ng-show="{{projects[projectId].installs}}">/ {{projects[projectId].installs}} Installs</span>
	<span ng-show="projects[projectId].github"> /
		<a href="{{projects[projectId].github}}" class="github" >
			<img src="img/github20.png">
			<span>Github</span>
		</a>
	</span>
	
	<div class="description" ng-bind-html="projects[projectId].description"></div>
	

	<ul class="tag-wrap">
		<li class="tag" ng-repeat="tag in projects[projectId].tags"> 
			{{tag}}
			<span class="delete-tag" ng-show="active(tag)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span>
		</li>
	</ul>	
</div>