*{
	margin:0;
	padding:0;
}

body{
	background: url('../images/exclusive_paper.png');
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

body a{
	text-decoration:none;
}

/* HEADER */

header{
	background:url('../images/autumn.jpg') center fixed;
	display:block;
	width:100%;
	color: #fff;
	padding:180px 0 130px;
}

.title_box{
	background: #000;
	padding: 30px 10px;
	display: block;
	max-width: 650px;
	margin: 0 auto;
}

h1 {
	font-family: 'Lato';
	text-align: center;
	text-transform: uppercase;
	font-size:32px;
	font-weight: 700;
	letter-spacing:2px;
}

.tagline{
	text-align: center;
	margin-top:20px;
	font-weight: 300;
	font-size: 17px;
}


/* NAVIGATION */

nav{
	background:#000;
	position:absolute;
	top:0;
	width:100%;
	transition:all .2s;
	text-transform:uppercase;
	font-size:14px;
	letter-spacing:1px;
	height:58px;
}

nav ul{
	list-style-type:none;
	max-width:800px;
	padding:0 50px;
	margin:0 auto;
}

nav ul ul{
	display:none;
}

nav ul li:hover ul{
	display:block;
	position:absolute;
	top:78px;
}

nav ul li ul li{
	display:block;
	min-width:190px;
	position:relative;

	left:-50px;
}

nav ul li ul li:hover{
	background:#FA9E00;
}

nav ul li:hover a{
	color:#aaa;
}

nav ul li ul li:hover a{
	color:#000;
}

nav li{
	display:inline-block;
}

nav li a{
	color:#aaa;
	padding:20px 15px;
	display:inline-block;
}

nav li:hover, nav ul li ul li{
	background:#222;
}


/* MAIN */

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 40px 50px 120px;
	line-height:30px;
	font-size:18px;
	color:#333;
	min-height:600px;
}

main a{
	color:#F59B00!important;
	text-decoration: none;
	font-weight:600;
}

h2{
	font-size:30px;
	margin:70px 0 30px;
	letter-spacing:-1px;
	text-align:center;
}

h3{
	font-size:18px;
	margin-top:20px;
}

p{
	margin:10px 0;
}

main li{
	margin-left: 20px;
}

.button{
	background:#F59B00;
	padding:8px 15px;
	color:#fff!important;
	display:block;
	margin:0 auto;
	width:120px;
	text-align:center;
	font-weight:600;
	text-transform:uppercase;
	letter-spacing:1px;
	font-size:14px;
	transition:background .2s;
}

.button:hover{
	background: #000;

}

.columns{
	margin-top:60px;
}

.col:nth-child(2){
	margin-left:70px;
}

.col{
	max-width:354px;
	display:inline-block;
	vertical-align:top;
	text-align:justify;
}

.image{
	text-align:center;
	margin:40px 0 -50px;
}

main img{
	opacity:0.9;
}


/* FORMS */

.signup_form{
	max-width:500px;
	margin-top:50px;
}

textarea{
	padding:10px;
	font-family:'Open Sans';
	width:450px;
	height:150px;
}

input[type="text"], select{
	display:inline-block;
	padding:10px;
	border-radius:3px;
	border:1px solid #aaa;
	width:215px;
	margin:5px 2px;
}

input[type="text"].long{
	width:461px;
}

input[type="submit"]{
	border:none;
	margin:30px 0;
	font-family:'Open Sans';
	font-weight:600!important;
}

.w110{
	width:110px;
}

.w130{
	width:130px;
}

/* TABLES */

table{
	border-collapse: collapse;
	font-size:16px;
	line-height:24px;
}

td{
	border:1px solid #888;
}

th{
	border-bottom:2px solid #FA9E00;
}

td, th{
	padding:10px 15px;
	vertical-align:top;
	text-align:left;
}

/* FOOTER */

footer{
	background: #000;
	padding:40px 0 30px;
	line-height:28px;
}

footer a{
	display:inline-block;
	transition:all .2s;
	color:#aaa;
}

footer a:hover{
	color: #fff;
}

.columns3{
	max-width:800px;
	position:relative;
	padding:0 50px;
	margin:0 auto;
	text-align:right;
}


.col3{
	display:inline-block;
	text-transform:uppercase;
	vertical-align: top;
	text-align: left;
	font-size:14px;
	letter-spacing:1px;
	font-weight:400;
	margin-left:20px;
}

.col3.logo{
	width:300px;
	position:absolute;
	left:50px;
	font-weight:bold;
	margin-left:0;
}

.menu{
	position:relative;
	top:-20px;
}