<div ng-repeat="e in [j.blockquote]" ng-include="roots.inputs + 'background.html'"></div>
<div ng-repeat="e in [j.blockquote]" ng-include="roots.inputs + 'font.html'"></div>
<div ng-repeat="e in [j.blockquote]" ng-include="roots.inputs + 'style.html'"></div>
<div ng-repeat="e in [j.blockquote]" ng-include="roots.inputs + 'fontSize.html'"></div>
<div ng-repeat="e in [j.blockquote]" ng-include="roots.inputs + 'radius.html'"></div>
<div ng-repeat="e in [j.blockquote]" ng-include="roots.inputs + 'padding.html'"></div>
