<div ng-repeat="e in [j.text]" ng-include="roots.inputs + 'background.html'"></div>
<div ng-repeat="e in [j.text.border]" ng-include="roots.inputs + 'border.html'"></div>
<div ng-repeat="e in [j.text]" ng-include="roots.inputs + 'radius.html'"></div>

<h2>Padding</h2>

<div class="chunk">
    <h2 class="sub">Horizontal</h2>
    <div class="input">
        <input type="range" min="0" max="20" class="rangeWithLabel" ng-model="j.text.paddingH">
        <div class="range_label">{{j.text.paddingH}}</div>
    </div>
</div>

<div class="chunk">
    <h2 class="sub">Vertical</h2>
    <div class="input">
        <input type="range" min="0" max="100" class="rangeWithLabel" ng-model="j.text.paddingV">
        <div class="range_label">{{j.text.paddingV}}</div>
    </div>
</div>

<b>Margin</b>

<div class="chunk">
    <h2 class="sub">Horizontal</h2>
    <div class="input">
        <input type="range" min="0" max="20" class="rangeWithLabel" ng-model="j.text.marginH">
        <div class="range_label">{{j.text.marginH}}</div>
    </div>
</div>

<div class="chunk">
    <h2 class="sub">Vertical</h2>
    <div class="input">
        <input type="range" min="0" max="100" class="rangeWithLabel" ng-model="j.text.marginV">
        <div class="range_label">{{j.text.marginV}}</div>
    </div>
</div>
