@import "base/globals";
@import "base/fonts";
@import "base/layout";
@import "components/new_form";
@import "components/tooltips";
@import "components/editing_box";
@import "components/popup";
@import "components/tabs";


.gr-box {
    max-height: 370px; // 350 max + 20 top
    overflow: hidden;

    .profileButton {
        text-align: left;
    }
}

.fa-trash {
    margin-top: 18px;
}
