@import "base/globals";
@import "base/fonts";
@import "base/layout";
@import "components/new_form";
@import "components/tooltips";
@import "components/editing_box";
@import "components/popup";
@import "components/tabs";

$height: 550px;

.editingBox {
    .tab_page {
        height: 500px;
        overflow-y: auto;
    }
}

.editingBox, .editingSidebar, .editingPreview {
    height: $height!important;
}

.daInside {
    margin-bottom: 25px!important;
    overflow: hidden;
}

.gr-box{
    padding: 25px 10px 0px;
    max-height: 375px; // 350 max + 25 top
    overflow: hidden
}
