<div class="box_heading p max">Premium Profile Resources</div>
<div class="box_white hp">
    <p class="description">CSS Creators for customizing profile pages. Each requires a password, which can be purchased on deviantART.</p>
    <br>
    <div class="large_wrap">
        <a href="#!/resources/profile_directory" class="sc_image"><img src="/resources/images/profile.png" width="300" style="margin-left:-80px;"></a>
        <div class="sc_info">
            <h1><a href="#!/resources/profile_directory">Profile Directory</a></h1>
            <p>Pretty up and organize your profile with a fancy profile directory.</p>
        </div>
    </div>

    <div class="large_wrap">
        <a href="#!/resources/profile_greeting" class="sc_image"><img src="/resources/images/greeting.jpg"></a>
        <div class="sc_info">
            <h1><a href="#!/resources/profile_greeting">Profile Greeting</a></h1>
            <p>Greet your visitors with a personalized welcome message.</p>
        </div>
    </div>

    <div class="large_wrap">
        <a href="/resources/full_gallery_directory.php" class="sc_image"><img src="/resources/images/full_gallery.png" width="150"></a>
        <div class="sc_info">
            <h1><a href="/resources/full_gallery_directory.php">Full Gallery Directory</a></h1>
            <p>Show off your best works with a gallery directory. Full-sized images put the emphasis on your artwork.</p>

        </div>
    </div>

    <div class="large_wrap">
        <a href="/resources/gallery_directory.php" class="sc_image"><img src="/resources/images/gallery.png" width="300" style="margin-left:-100px;"></a>
        <div class="sc_info">
            <h1><a href="/resources/gallery_directory.php">Gallery Directory</a></h1>
            <p>Show off your best works with a gallery directory.</p>
        </div>
    </div>
    <div class="large_wrap">
        <a href="/resources/slideshow.php" class="sc_image"><img src="/resources/images/slideshow.png" width="200"></a>
        <div class="sc_info">
            <h1><a href="/resources/slideshow.php">Gallery Slideshow</a></h1>
            <p>Create a gallery slideshow to display your best artworks in style.</p>
        </div>
    </div>

</div>
