/* OPEN SANS */


@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Bold-webfont.eot');
    src: url('/fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('/fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('/fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: 700;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Regular-webfont.eot');
    src: url('/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('/fonts/OpenSans-Regular-webfont.svg#open_sansbold') format('svg');
    font-weight: 400;
}

/* SOURCE SANS PRO */

@font-face {
    font-family: 'Source Sans Pro';
    src: url("/fonts/SourceSansPro-Regular.otf");
    font-weight: 400;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url("/fonts/SourceSansPro-Bold.otf");
    font-weight: 700;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url("/fonts/SourceSansPro-Semibold.otf");
    font-weight: 600;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url("/fonts/SourceSansPro-Light.otf");
    font-weight: 300;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url("/fonts/SourceSansPro-ExtraLight.otf");
    font-weight: 200;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url("/fonts/SourceSansPro-It.otf");
    font-weight: 400;
    font-style: italic;
}

/* UBUNTU */

@font-face {
    font-family: 'Ubuntu';
    src: url("/fonts/Ubuntu-B.ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'Ubuntu';
    src: url("/fonts/Ubuntu-M.ttf");
    font-weight: 600;
}

@font-face {
    font-family: 'Ubuntu';
    src: url("/fonts/Ubuntu-R.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Ubuntu';
    src: url("/fonts/Ubuntu-RI.ttf");
    font-weight: 400;
    font-style: italic;
}
