<b>Normal Buttons</b>

<div class="chunk">
    <h2>Background</h2>
    <div class="input">
        <input minicolors type="text" ng-model="j.buttonBackground" class="color" max="6">
    </div>
    <h2>Color</h2>
    <div class="input">
        <input minicolors type="text" ng-model="j.buttonColor" class="color" max="6">
    </div>
</div>

<b>Normal Buttons (Hover)</b>

<div class="chunk">
    <h2>Background</h2>
    <div class="input">
        <input minicolors type="text" ng-model="j.buttonBackgroundHover" class="color" max="6">
    </div>

    <h2>Color</h2>
    <div class="input">
        <input minicolors type="text" ng-model="j.buttonColorHover" class="color" max="6">
    </div>
</div>

<div ng-show="j.includeStatus">
    <b>Status Buttons</b>

    <div class="chunk">
        <h2>Background</h2>
        <div class="input">
            <input minicolors type="text" ng-model="j.statusBackground" class="color" max="6">
        </div>

        <h2>Color</h2>
        <div class="input">
            <input minicolors type="text" ng-model="j.statusColor" class="color" max="6">
        </div>
    </div>

    <b>Status Buttons (Hover)</b>

    <div class="chunk">
        <h2>Background</h2>
        <div class="input">
            <input minicolors type="text" ng-model="j.statusBackgroundHover" class="color" max="6">
        </div>
        
        <h2>Color</h2>
        <div class="input">
            <input minicolors type="text" ng-model="j.statusColorHover" class="color" max="6">
        </div>
    </div>
</div>
