<div class="narrow">

	<h2>What is this?</h2>
	<p>VirusClicker is a time-wasting clicking game inspired by the infamous <a href="http://orteil.dashnet.org/cookieclicker/">CookieClicker</a>. The goal of the game is to infect as many people as possible, while also upgrading your virus to epic new levels.</p>

	<hr>

	<h2>Why make something so darn useless?</h2>
	<p>To mess around with Angular.js. Check out the source code: <a href="https://github.com/inyounghong/VirusClicker/tree/master">VirusClicker</a>.</p>

	<hr>

	<h2>Credits</h2>
	<ul>
		<li>Virus image made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></li>
		<li>Game inspired by <a href="http://orteil.dashnet.org/cookieclicker/">CookieClicker</a> by <a href="http://orteil.dashnet.org/">Orteil</a></li>
	</ul>

</div>
