<div ng-repeat="e in [j.blockquote.background]" ng-include="'/resources/journal_creator/inputs/background.html'"></div>

<div ng-repeat="e in [j.blockquote]" ng-include="'/resources/journal_creator/inputs/font.html'"></div>
<div ng-repeat="e in [j.blockquote]" ng-include="'/resources/journal_creator/inputs/fontSize.html'"></div>

<div ng-repeat="e in [j.blockquote]" ng-include="'/resources/journal_creator/inputs/radius.html'"></div>
<div ng-repeat="e in [j.blockquote]" ng-include="'/resources/journal_creator/inputs/padding.html'"></div>
