
<div ng-repeat="e in [j.top.background]" ng-include="'/resources/journal_creator/inputs/background.html'"></div>
<div ng-repeat="e in [j.top.image]" ng-include="'/resources/journal_creator/inputs/image.html'"></div>
<div ng-repeat="e in [j.top]" ng-include="'/resources/journal_creator/inputs/align.html'"></div>

<div ng-show="j.top.align != 'center'">
    <div class="chunk">
        <h2>Padding</h2>
        <div class="input">
            <input type="range" ng-model="j.top.paddingH" class="rangeWithLabel" min="0" max="20">
            <div class="range_label">{{j.top.paddingH}}</div>
        </div>
    </div>
</div>

<div class="chunk">
    <h2>Height</h2>
    <div class="input">
        <input type="range" ng-model="j.top.height" class="rangeWithLabel" min="0" max="300">
        <div class="range_label">{{j.top.height}}</div>
    </div>

    <h2>Top Position</h2>
    <div class="input">
        <input type="range" ng-model="j.top.positionTop" class="rangeWithLabel" min="0" max="{{j.top.height}}">
        <div class="range_label">{{j.top.positionTop}}</div>
    </div>


</div>
