

<div ng-repeat="e in [j.box.background]" ng-include="'/resources/journal_creator/inputs/background.html'"></div>
<div ng-repeat="e in [j.box.image]" ng-include="'/resources/journal_creator/inputs/image.html'"></div>

<div class="chunk">
    <h2>Max Width</h2>
    <div class="input">
        <label><input type="checkbox" class="check" ng-model="j.box.maxWidth">Include Max Width</label>
        <div ng-show="j.box.maxWidth">
            <input type="range" ng-model="j.box.width" class="rangeWithLabel" min="300" max="1000">
            <div class="range_label">{{j.box.width}}</div>
        </div>
    </div>
</div>

<div ng-repeat="e in [j.box.border]" ng-include="'/resources/journal_creator/inputs/border.html'"></div>
<div ng-repeat="e in [j.box]" ng-include="'/resources/journal_creator/inputs/radius.html'"></div>

<div class="chunk">
    <h2>Link Color</h2>
    <div class="input">
        <input minicolors type="text" ng-model="j.link.color" class="color">
    </div>
</div>
<div class="chunk">
    <h2>Link Font</h2>
    <div class="input">
        <input type="text" ng-model="j.link.font" placeholder="Font">
    </div>
</div>
