<div ng-repeat="e in [j.text.background]" ng-include="'/resources/journal_creator/inputs/background.html'"></div>
<div ng-repeat="e in [j.text.image]" ng-include="'/resources/journal_creator/inputs/image.html'"></div>
<div ng-repeat="e in [j.text.border]" ng-include="'/resources/journal_creator/inputs/border.html'"></div>
<div ng-repeat="e in [j.text]" ng-include="'/resources/journal_creator/inputs/radius.html'"></div>

<b>Padding</b>

<div class="chunk">
    <h2>Horizontal</h2>
    <div class="input">
        <input type="range" min="0" max="20" class="rangeWithLabel" ng-model="j.text.paddingH">
        <div class="range_label">{{j.text.paddingH}}</div>
    </div>
</div>

<div class="chunk">
    <h2>Vertical</h2>
    <div class="input">
        <input type="range" min="0" max="100" class="rangeWithLabel" ng-model="j.text.paddingV">
        <div class="range_label">{{j.text.paddingV}}</div>
    </div>
</div>

<b>Margin</b>

<div class="chunk">
    <h2>Horizontal</h2>
    <div class="input">
        <input type="range" min="0" max="20" class="rangeWithLabel" ng-model="j.text.marginH">
        <div class="range_label">{{j.text.marginH}}</div>
    </div>
</div>

<div class="chunk">
    <h2>Vertical</h2>
    <div class="input">
        <input type="range" min="0" max="100" class="rangeWithLabel" ng-model="j.text.marginV">
        <div class="range_label">{{j.text.marginV}}</div>
    </div>
</div>
