<div class="wrapper">
    <div class="mainContent row">

        <div class="col-sm-7">
            <div class="box_heading y max">Newest Content</div>
            <div class="box_white hy">
                <p class="description"><em>May 2017:</em> New Features for Profile Greeting</p>

                <div class="itemWrap" ng-repeat="item in newItems">
                    <resource item="item" color="y"></resource>
                </div>
            </div>

            <div class="box_heading g max">Submit Suggestions</div>
            <div class="box_white hg mb0">
                <p class="description">Have suggestions for improving my CSS Creators and scripts? Got an idea for a resource that you'd like? Just drop me a note on DA at <a href="http://simplysilent.deviantart.com">SimplySilent</a>:
                <div class="button_wrap">
                    <a href="http://simplysilent.deviantart.com" class="sbutton g">I haz suggestion</a>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="box_heading p max">Recent Updates</div>
            <div class="box_white hp">
                <ul class="updates">
                    <li><em>May 2017:</em> Updated the <a href="#!/resources/profile_greeting">Profile Greeting Creator</a> with new features and a new design.</li>
                </ul>
                <br>
                <p>Found a bug in one of my codes? Any of my resources need updating?</p>
                <div class="button_wrap">
                    <a href="http://simplysilent.deviantart.com" class="sbutton p">Complain Here</a>
                </div>
            </div>
        </div>
        <div class="clearing"></div>
    </div>
</div>
