<div class="chunk">
    <h2>Position</h2>
    <div class="input">
        <select ng-model="e.positionH" ng-change="checkCss()" class="half">
            <option value="left">Left</option>
            <option value="center">Center</option>
            <option value="right">Right</option>
        </select>

        <select ng-model="e.positionV" ng-change="checkCss()" class="half">
            <option value="top">Top</option>
            <option value="center">Center</option>
            <option value="bottom">Bottom</option>
        </select>
    </div>
</div>
